
:root {
	/* MAIN */
	--main-color: #fff;
	--main-bg-color: #48525C;
	--main-bg-image: url("images/background.jpg");

	/* LOADING */
	--loading-color: #ddd;
	--loading-text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);

	/* LOGIN */
	--login-color: #eee;
	--login-bg-color: rgba(0,0,0,0.5);
	--login-box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
	--login-border: none;
	--login-border-radius: 7px;

	/* MENU */
	--dropdown-menu-color: #333;
	--dropdown-menu-bg-color: #fff;
	--dropdown-menu-hover-bg-color: #48525C;
	--dropdown-menu-hover-color: #eee;
	--dropdown-menu-disable-color: #999;

	/* FOLDERS */
	--folders-color: #fff;
	--folders-disabled-color: #aaa;
	--folders-selected-color: #fff;
	--folders-selected-bg-color: rgba(0,0,0,0.5);
	--folders-focused-color: #fff;
	--folders-focused-bg-color: rgba(0,0,0,0.7);
	--folders-hover-color: #fff;
	--folders-hover-bg-color: rgba(0,0,0,0.5);
	--folders-drop-color: #fff;
	--folders-drop-bg-color: rgba(0,0,0,0.5);

	/* SETTINGS */
	--settings-menu-color: #fff;
	--settings-menu-selected-color: #fff;
	--settings-menu-selected-bg-color: rgba(0,0,0,0.5);
	--settings-menu-hover-color: #fff;
	--settings-menu-hover-bg-color: rgba(0,0,0,0.5);

	/* MESSAGE LIST */
	--message-list-toolbar-bg-color: #eee;
}

::-webkit-scrollbar {
	width: 0.8em;
}
::-webkit-scrollbar-track {
	background-color: #000;
}
::-webkit-scrollbar-thumb {
	background: #666;
	border-radius: 5px;
	box-shadow: inset 0 0 3px #000;
}

.thm-message-list-top-toolbar, .thm-message-list-bottom-toolbar {
    background-image: linear-gradient(to bottom,#444,#111) !important;
    background-repeat: repeat-x !important;
	color: var(--main-color);
}

.btn:not(.btn-success):not(.btn-warning):not(.btn-danger) {
	border-color: rgba(255,255,255,.15) rgba(255,255,255,.15) rgba(255,255,255,.25);
	box-shadow: inset 0 1px 0 rgba(0,0,0,.2), 0 1px 2px rgba(255,255,255,.05);
	color: var(--main-color);
	text-shadow: 0 -1px 0 rgba(255,255,255,.25);
	background-color: #000;
}
.btn:not(.btn-success):not(.btn-warning):not(.btn-danger).active,
.btn:not(.btn-success):not(.btn-warning):not(.btn-danger):active {
	box-shadow: inset 0 2px 4px rgba(255,255,255,.5), 0 1px 2px rgba(255,255,255,.25);
}
.btn .icon-spinner {
    border-color: #333;
    border-top-color: #ccc;
}
.btn .caret {
	border-top-color: var(--main-color);
}

#rl-popups > dialog,
#rl-settings-subscreen,
.messageList,
.messageView,
.alert-info,
#V-PopupsCompose .b-attachment-place {
	background-color: #000;
	border-color: #555;
	color: var(--main-color);
}

.legend,
dialog header, dialog footer,
.table td, .table th {
	border-color: #555 !important;
}

.legend,
.messageView #messageItem {
	color: var(--main-color);
}

.rl-mobile .squire-toolbar,
#V-PopupsCompose .b-attachment-place.dragAndDropOver {
	background-color: #222;
}

.g-ui-link,
.messageView .messageItemHeader .informationShort a,
.messageView #messageItem .bodyText .b-text-part a {
	color: #6AE;
}

.messageView .messageItemHeader,
.messageView #messageItem .pgpEncrypted,
.messageView #messageItem .pgpSigned,
.messageView #messageItem .readReceipt,
.messageView #messageItem .showImages,
.messageView #messageItem .attachmentsPlace,
.messageView #messageItem .attachmentsControls {
	background-color: #222;
	border-bottom-color: #444;
}

.messageListItem {
	border-left-color: #111;
    color: #EEE;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
	background-color: #333;
}

.table-striped tbody tr:nth-child(2n+1) td,
.table-striped tbody tr:nth-child(2n+1) th {
	background-color: #111;
}

#V-Settings-About .rl-logo {
	filter: invert(1);
}

.b-folders li a.focused {
	background-color: #111;
}

.tabs [id^="tab"]:checked + label {
	background: linear-gradient(#555 0%, #000 100%);
}

input, textarea, .select, select, .emailaddresses {
    background-color: #000;
    border-color: #aaa;
    color: #fff;
}
.select, select {
    background-image: url("data:image/svg+xml,<svg xmlns='http:/*www.w3.org/2000/svg' height='10px' width='15px'><text x='0' y='10' fill='rgb(255,255,255)'>▾</text></svg>"); */
}

hr {
	border-color: #666;
}

#messageItem .b-text-part blockquote,
.b-settings-general .editMainIdentity {
    border-color: #999;
}
