<header>
	<a href="#" class="close" data-bind="command: closeCommand">×</a>
	<h3 data-i18n="POPUPS_DOMAIN_ALIAS/TITLE_ADD_DOMAIN_ALIAS"></h3>
</header>
<div class="modal-body">
	<div class="control-group" data-bind="css: {error: '' !== savingError()}">
		<label data-i18n="POPUPS_DOMAIN_ALIAS/LABEL_ALIAS"></label>
		<div>
			<div data-bind="component: {
				name: 'Input',
				params: {
					value: name,
					size: 4
				}
			}"></div>
			<div class="alert-error" data-bind="visible: '' !== savingError(), text: savingError"></div>
		</div>
	</div>
	<div class="control-group">
		<label data-i18n="POPUPS_DOMAIN_ALIAS/LABEL_DOMAIN"></label>
		<div data-bind="component: {
			name: 'Select',
			params: {
				options: domainsOptions,
				value: alias,
				optionsText: 'optText',
				optionsValue: 'optValue',
				size: 4
			}
		}"></div>
	</div>
</div>
<footer>
	<a class="btn buttonClose" data-bind="command: closeCommand" data-icon="✖" data-i18n="POPUPS_DOMAIN_ALIAS/BUTTON_CLOSE"></a>
	<a class="btn" data-bind="command: createCommand">
		<i class="fontastic" data-bind="visible: !saving()">✚</i>
		<i class="icon-spinner" data-bind="visible: saving"></i>
		<span data-i18n="POPUPS_DOMAIN_ALIAS/BUTTON_ADD"></span>
	</a>
</footer>
