<header>
	<a href="#" class="close" data-bind="command: closeCommand">×</a>
	<h4>
		<span data-i18n="POPUPS_PLUGIN/TITLE_PLUGIN"></span>
		&nbsp;
		"<span data-bind="text: name"></span>"
	</h4>
	<span data-bind="visible: hasReadme, text: readme"></span>
</header>
<div class="modal-body">
	<form class="form-horizontal plugin-form" action="#/" onsubmit="return false;">
		<div class="alert alert-info" data-bind="visible: !hasConfiguration()" data-i18n="POPUPS_PLUGIN/DESC_NOTHING_TO_CONFIGURE"></div>
		<div class="alert" data-bind="visible: '' !== saveError()">
			<a href="#" class="close" data-bind="click: function () { saveError('') }">×</a>
			<span data-bind="text: saveError"></span>
		</div>
		<div data-bind="foreach: config, visible: hasConfiguration">
			<!-- ko if: 7 == Type -->
			<details open="">
				<summary class="legend" data-bind="text: Label"></summary>
				<div data-bind="foreach: config">
					<div class="control-group" data-bind="template: { name: 'AdminSettingsPluginProperty' }"></div>
				</div>
			</details>
			<!-- /ko -->
			<!-- ko if: 7 != Type -->
			<div class="control-group" data-bind="template: { name: 'AdminSettingsPluginProperty' }"></div>
			<!-- /ko -->
		</div>
	</form>
</div>
<footer>
	<a class="btn buttonClose" data-bind="command: closeCommand" data-icon="✖" data-i18n="POPUPS_PLUGIN/BUTTON_CLOSE"></a>
	<a class="btn" data-bind="command: saveCommand, visible: hasConfiguration" data-icon="✔" data-i18n="GLOBAL/SAVE"></a>
</footer>
