<header>
	<a href="#" class="close" data-bind="command: closeCommand">×</a>
	<h3>
		<span data-i18n="POPUPS_CLEAR_FOLDER/TITLE_CLEAR_FOLDER" data-bind="visible: !clearingProcess()"></span>
		<span data-i18n="POPUPS_CLEAR_FOLDER/TITLE_CLEARING_PROCESS" data-bind="visible: clearingProcess"></span>
	</h3>
</header>
<div class="modal-body">
	<i class="fontastic" style="color:red">⚠</i>
	&nbsp;&nbsp;
	<strong data-i18n="[html]POPUPS_CLEAR_FOLDER/DANGER_DESC_WARNING"></strong>
	<br>
	<br>
	<span data-bind="html: dangerDescHtml"></span>
	<br>
	<span data-i18n="[html]POPUPS_CLEAR_FOLDER/DANGER_DESC_HTML_2"></span>
</div>
<footer>
	<a class="btn btn-danger" data-bind="command: clearCommand">
		<i class="fontastic" data-bind="css: {'icon-spinner white': clearingProcess()}">🔥</i>
		<span data-i18n="GLOBAL/CLEAR"></span>
	</a>
</footer>
