@charset "UTF-8";

@font-face {
  font-family: "snappymail";
  src: url("fonts/snappymail.woff2") format("woff2"), url("fonts/snappymail.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.fontastic,
[data-icon]::before,
[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: "snappymail" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  line-height: 1;
  text-transform: none !important;
  speak: never;
  -webkit-font-smoothing: antialiased;
}

[data-icon]::before {
	content: attr(data-icon);
	display: inline-block;
	margin-right: 0.5em;
	min-width: 1em;
}

.icon-arrows-in::before {
  content: "\e000";
}
.icon-arrows-out::before {
  content: "\e001";
}
.icon-user-add::before {
  content: "\e005";
}
.icon-paper-plane::before {
  content: "\e007";
}
.icon-right-mini::before {
  content: "\e01e"; /* › */
}
.icon-down-mini::before {
  content: "\e01f"; /* › rotate 90 */
}
.icon-warning-alt::before {
  content: "\e02a";
}
.icon-ok::before {
  content: "✔";
}
.icon-file::before {
  content: "\e02f";
}
.icon-file-code::before {
  content: "\e030";
}
.icon-file-presentation::before {
  content: "\e031"; /* 📊 */
}
.icon-file-archive::before {
  content: "\e032";
}
.icon-file-audio::before {
  content: "\e033";
}
.icon-file-text::before {
  content: "\e034";
}
.icon-file-image::before {
  content: "\e036";
}
.icon-file-certificate::before {
  content: "\e038";
}
.icon-attachment::before {
  content: "📎";
}
.icon-file-spreadsheet::before {
  content: "\e03a";
}
.icon-file-video::before {
  content: "\e03b";
}
.icon-folder-add::before {
  content: "\e03c";
}
.icon-popup::before {
  content: "\e045";
}
.icon-mail::before {
  content: "✉";
}
.icon-filter::before {
  content: "\e061"; /* ⊆ */
}
.icon-import::before {
  content: "\e066";
}
.icon-export::before {
  content: "\e067";
}
.icon-copy::before {
  content: "\e068";
}
.icon-help::before {
  content: "\e06b";
}
.icon-resize-in::before {
  content: "\e06c";
}
.icon-resize-out::before {
  content: "⤢";
}
.icon-check-mark-circle-two::before {
  content: "\e073";
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}
.row {
  margin-left: -20px;
}
[class*="span"] {
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}
.span12 {
  width: 940px;
}
.span11 {
  width: 860px;
}
.span10 {
  width: 780px;
}
.span9 {
  width: 700px;
}
.span8 {
  width: 620px;
}
.span7 {
  width: 540px;
}
.span6 {
  width: 460px;
}
.span5 {
  width: 380px;
}
.span4 {
  width: 300px;
}
.span3 {
  width: 220px;
}
.span2 {
  width: 140px;
}
.span1 {
  width: 60px;
}
p {
  margin: 0.715em 0;
}
small {
  font-size: 80%;
}
b,
strong {
  font-weight: bolder;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 40px;
  margin: 0.715em 0;
  text-rendering: optimizelegibility;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
h4,
h5,
h6 {
  line-height: 20px;
}
ul,
ol {
  padding: 0;
  margin: 0 0 0.715em 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 1.43em;
}
hr {
  margin: 1.43em 0;
  border: 0;
  border-bottom: 1px solid #eee;
  box-sizing: content-box;
  height: 0;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #999;
  text-decoration: none;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 1.43em;
  border-left: 5px solid #eee;
}
blockquote p {
  margin-bottom: 0;
  line-height: 1.7875em;
}
q::before,
q::after,
blockquote::before,
blockquote::after {
  content: "";
}
address {
  display: block;
  margin-bottom: 1.43em;
  font-style: normal;
  line-height: 1.43em;
}
form {
  margin: 0 0 1.43em;
}
label {
  display: block;
  font-weight: normal;
  line-height: 1.43em;
  margin-bottom: 5px;
}
button,
input,
optgroup,
select,
.select,
textarea {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.43em;
  margin: 0;
  text-transform: none;
}
select,
.select,
textarea,
input {
  box-sizing: border-box;
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  border-radius: 3px;
}
textarea,
input {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s, box-shadow linear 0.2s;
  width: 210px;
}
textarea:focus,
input:focus {
  border-color: #999999;
  box-shadow: none;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  line-height: normal;
  cursor: pointer;
}
input[type="file"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
select,
.select {
  -webkit-appearance: none;
  appearance: none;
  background: #fff url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='10px' width='15px'><text x='0' y='10' fill='rgb(85,85,85)'>▾</text></svg>") right center / 1em no-repeat border-box;
  border: 1px solid #ccc;
  cursor: pointer;
  padding-right: 1.5em;
  width: 223px;
}
select:focus,
.select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.input-xlarge {
  width: 270px;
}
.input-xxlarge {
  width: 530px;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"] {
  margin-left: 0;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eee;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}
.control-group.error > label {
  color: #b94a48;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
  border-color: #b94a48;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.control-group {
  margin-bottom: 0.715em;
}
.form-horizontal .control-group {
  margin-bottom: 1.43em;
}
.form-horizontal .control-group > label {
  display: inline-block;
  padding-top: 5px;
  text-align: right;
  width: 140px;
}
.form-horizontal .control-group > *:not(label) {
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}
.table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1.43em;
}
.table th,
.table td {
  padding: 8px;
  line-height: 1.43em;
  text-align: left;
  vertical-align: text-top;
  border-top: 1px solid #ddd;
}
.table th {
  font-weight: bold;
}
.table thead th {
  vertical-align: bottom;
}
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}
.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  border-radius: 4px;
}
.table-bordered th + th,
.table-bordered td + td {
  border-left: 1px solid #ddd;
}
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}
.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  border-radius: 0 4px 0 0;
}
.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child,
.table-bordered tfoot:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}
.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child,
.table-bordered tfoot:last-child tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  border-radius: 0 4px 0 0;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #f5f5f5;
}
.close {
  float: right;
  font-size: 143%;
  font-weight: bold;
  line-height: 1.43em;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}
.close:not(:hover) {
  opacity: 0.5;
}
.btn {
  border-radius: 3px;
  display: inline-block;
  padding: 4px 13px;
  line-height: 1.43em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #bbb;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  text-decoration: none;
}
.btn:hover {
  opacity: 0.9;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  opacity: 0.9;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  opacity: 0.7;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-large {
  padding: 9px 14px;
  font-size: 121%;
  line-height: normal;
  border-radius: 5px;
}
.btn-small {
  padding: 3px 9px;
  font-size: 80%;
  line-height: 1;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
}
.btn-warning.active,
.btn-danger.active,
.btn-success.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-warning {
  color: #fff;
  background-color: #fbb450;
}
.btn-danger {
  color: #fff;
  background-color: #ee5f5b;
}
.btn-success {
  background-color: #84AB04;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-group {
  position: relative;
  white-space: nowrap;
}
.btn-group + .btn-group {
  margin-left: 3px;
}
.btn-toolbar .btn-group {
  display: inline-block;
}
.btn-toolbar .btn + .btn,
.btn-toolbar .btn-group + .btn,
.btn-toolbar .btn + .btn-group {
  margin-left: 3px;
}
.btn-group > .btn {
  position: relative;
  border-radius: 0;
}
.btn-group > .btn + .btn {
  margin-left: -1px;
}
.btn-group > .btn:first-child {
  margin-left: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 2;
}
.btn .caret {
  margin-top: 8px;
  margin-left: 0;
}
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 1.43em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;
  color: #c09853;
  max-width: 800px;
  min-height: 1.43em;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 1.43em;
}
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.fontastic + span,
[class^="icon-"] + span,
[class*=" icon-"] + span {
  margin-left: 0.5em;
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 1em;
  vertical-align: text-top;
}
.disabled [class^="icon-"],
.disabled [class*=" icon-"],
.btn[disabled] [class^="icon-"],
.btn[disabled] [class*=" icon-"] {
  opacity: 0.5;
}
/* .b-contacts-content .b-view-content */
.iconsize24 {
  font-size: 24px;
}
.iconcolor-green {
  color: green;
}
.iconcolor-red {
  color: red;
}
@keyframes rotation {
  to {
    transform: rotate(1turn);
  }
}
.icon-spinner {
  height: 0.75em;
  width: 0.75em;
  margin: 0 -1px;
  border: 3px solid #aaa;
  border-top-color: #333;
  border-radius: 100%;
}
.icon-spinner:not(.not-animated),
.list-loading .icon-spinner.not-animated {
  border-color: transparent;
  border-top-color: #999;
  animation: rotation 0.8s infinite ease-in-out;
}
.btn.btn-success .icon-spinner {
  border-color: transparent;
  border-top-color: #fff;
}
.fontastic.icon-spinner {
  text-indent: -5em;
  overflow: hidden;
}
.legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 1.43em;
  font-size: 21px;
  line-height: 2.145em;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
summary.legend {
  display: list-item;
  cursor: pointer;
}
.btn.btn-thin {
  padding: 4px 9px;
}
.alert a:not(.close) {
  text-decoration: underline;
  color: #c09853;
}
.alert.alert-info a:not(.close) {
  color: #3a87ad;
}
.alert.alert-error a:not(.close) {
  color: #b94a48;
}
/* mobile and tablet */
@media screen and (max-width: 999px) {
  .form-horizontal .control-group > label {
    text-align: left;
  }
  .form-horizontal .control-group > *:not(label) {
    margin-left: 20px;
  }
}
#rl-settings-subscreen,
.g-ui-user-select-none {
  user-select: none;
  -webkit-touch-callout: none;
}
.g-ui-link {
  color: var(--link-color, #369);
  cursor: pointer;
  padding: 2px;
  text-decoration: underline;
}
.g-ui-link:focus {
  outline: 1px;
  outline-style: dotted;
}
.settings-save-trigger {
  display: inline-block;
  height: 1em;
  line-height: 1em;
  margin-left: 0.5em;
}
.settings-save-trigger::after {
  font-family: "snappymail";
  content: " ";
  display: block;
  opacity: 0;
  transition: opacity 1s linear;
}
.settings-save-trigger.saving::after {
  animation: rotation 0.8s infinite ease-in-out;
  border: 3px solid transparent;
  border-radius: 100%;
  border-top-color: #999;
  height: 11px;
  opacity: 1;
  width: 11px;
}
.settings-save-trigger.success::after {
  color: #080;
  content: "✔";
  opacity: 1;
}
.settings-save-trigger.error::after {
  color: #F00;
  content: "✖";
  opacity: 1;
}
textarea + .settings-save-trigger {
  vertical-align: top;
}
.settings-saved-trigger-input {
  transition: border-color 0.5s linear;
}
.settings-saved-trigger-input.success {
  border-color: green;
}
.settings-saved-trigger-input.error {
  border-color: red;
}
.e-action {
  cursor: pointer;
}
.list-table {
  max-width: 800px;
}
.button-confirm-delete {
  transition: all 0.2s linear;
  white-space: nowrap;
}
.button-confirm-delete:not(.delete-access) {
  opacity: 0;
  transform: translateX(-15px);
  visibility: hidden;
}
.drag-handle {
  color: #eee;
  cursor: grab;
}
tr:hover .drag-handle {
  color: #aaa;
}
.tabs {
  display: grid;
}
.tabs input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
  display: none;
}
.tabs label {
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  grid-row-start: 1;
  line-height: 1.43em;
  opacity: 0.6;
  margin: 0 2px -1px 0;
  padding: 5px;
  text-align: center;
}
.tabs label:hover {
  border-color: #eee;
  opacity: 0.8;
}
.tabs [id^="tab"]:checked + label {
  background-color: #fff;
  border-color: #ddd #ddd transparent #ddd;
  opacity: 1;
  z-index: 1;
}
.tabs .tab-content {
  grid-column-start: 1;
  grid-row-start: 2;
  visibility: hidden;
}
.tabs [id^="tab"]:checked + label + .tab-content {
  visibility: visible;
}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html,
body {
  height: 100%;
  overflow: hidden;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
body {
  -webkit-touch-callout: none;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
html.list-loading body {
  /*	cursor: wait;*/
  cursor: progress;
}
@media screen and (min-width: 1000px) {
  body {
    background-image: var(--main-bg-image);
    background-size: var(--main-bg-size);
    background-repeat: var(--main-bg-repeat);
  }
}
option:disabled {
  color: #aaa;
  cursor: not-allowed;
}
*,
select:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
.dialog-backdrop {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
dialog {
  border: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 5px 80px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  max-height: calc(100vh - 20px);
  max-width: 560px;
  overflow: auto;
  padding: 0;
  position: fixed;
  transition: all 0.2s ease-out;
  top: 0;
  width: calc(100% - 20px);
}
dialog:not([open]) {
  display: none !important;
}
dialog.animate {
  opacity: 1;
}
dialog:not(.animate) {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  top: -25%;
}
dialog > header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
dialog > header .close {
  margin-top: 2px;
}
dialog > header h3 {
  margin: 0;
  line-height: 30px;
}
dialog .modal-body {
  overflow: auto;
  margin: 0;
  padding: 15px;
}
dialog > footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  border-top: 1px solid #ddd;
  border-radius: 0 0 6px 6px;
}
dialog > footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
dialog > footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.e-component {
  white-space: nowrap;
}
.e-component * {
  display: inline-block;
}
.e-component select:focus {
  outline: 1px dotted;
}
.e-component.e-checkbox {
  cursor: pointer;
  margin-bottom: 6px;
  margin-left: -2px;
  padding: 2px;
}
.e-component.e-checkbox:focus {
  outline: 1px dotted;
}
.e-component.e-checkbox.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.e-component span {
  margin-left: 0.5em;
  white-space: normal;
}
.e-component select + span {
  line-height: 1.43em;
  padding: 4px 0;
}
.e-checkbox.material-design {
  line-height: 20px;
}
.e-checkbox.material-design > div {
  position: relative;
  width: 18px;
  height: 18px;
  vertical-align: top;
}
.e-checkbox.material-design > div > div {
  position: absolute;
  box-sizing: border-box;
  margin-top: 1px;
  animation: checkmark-to-box 200ms ease-out forwards;
}
.e-checkbox.material-design div.checked {
  animation: box-to-checkmark 200ms ease-out forwards;
}
@keyframes box-to-checkmark {
  0% {
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #999;
    transform: rotate(0deg);
  }
  50% {
    top: 13px;
    left: 5px;
    width: 4px;
    height: 4px;
    transform: rotate(45deg);
  }
  100% {
    top: -1px;
    left: 5px;
    width: 10px;
    height: 18px;
    border: 2px solid #0F9D58;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
@keyframes checkmark-to-box {
  0% {
    top: -1px;
    left: 5px;
    width: 10px;
    height: 18px;
    border: 2px solid #0F9D58;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  50% {
    top: 13px;
    left: 5px;
    width: 4px;
    height: 4px;
    transform: rotate(45deg);
  }
  100% {
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #999;
    transform: rotate(0deg);
  }
}
#V-Login,
#V-AdminLogin {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-width: 250px;
  max-width: 600px;
  transition: all 0.3s ease-out;
  z-index: 5;
}
.LoginView .descWrapper {
  color: var(--loading-color, #000);
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: var(--loading-text-shadow);
}
.LoginView form {
  background-color: var(--login-bg-color, rgba(0, 0, 0, 0.5));
  border: var(--login-border, 1px solid rgba(255, 255, 255, 0.2));
  border-radius: var(--login-border-radius, 7px);
  box-shadow: var(--login-box-shadow);
  color: var(--login-color, rgba(255, 255, 255, 0.8));
  margin: 0;
  padding: 40px 40px 20px 40px;
  position: relative;
}
.LoginView form * {
  color: var(--login-color, rgba(255, 255, 255, 0.8));
}
.LoginView form .controls.error * {
  color: #f76260;
  border-color: #f76260;
}
.LoginView form.submitting > * {
  opacity: 0.3;
}
.LoginView form.submitting::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  border: 8px solid transparent;
  border-top-color: var(--spinner-color, #fff);
  animation: loginRotation 1s infinite ease-in-out;
  border-radius: 50%;
  z-index: 1052;
}
.LoginView .controls,
.LoginView .control-group {
  margin-bottom: 25px;
  position: relative;
}
.LoginView input {
  font-size: 18px;
  height: 40px;
  padding-right: 30px;
}
.LoginView input:placeholder {
  color: #fff;
}
.LoginView input:focus,
.LoginView input:hover {
  border-color: #fff;
}
.LoginView input,
.LoginView .btn {
  background: none !important;
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: #fff;
}
.LoginView .fontastic + input {
  padding-left: 30px;
}
.LoginView .controls > .fontastic:first-child {
  position: absolute;
  font-size: 17px;
  line-height: 38px;
  left: 6px;
}
.LoginView input + button {
  border: none;
  background: none;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  line-height: 38px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 6px;
  top: 0;
}
.LoginView .btn {
  text-transform: uppercase;
  font-size: 13px;
}
.LoginView .btn:hover,
.LoginView .btn:active {
  border-color: #fff;
}
.LoginView .buttonLogin {
  margin: 0;
}
.LoginView .alert {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  opacity: 1;
  transition: opacity 0.5s linear;
}
.LoginView .alert[hidden] {
  opacity: 0;
}
.LoginView .language-buttons {
  flex-grow: 1;
  margin-top: 5px;
  text-align: right;
}
.LoginView .language-button {
  padding: 5px;
  text-decoration: none;
}
.LoginView .errorAnimated {
  animation: login-form-shake 400ms ease-in-out;
}
.LoginView .errorAnimated .buttonLogin {
  color: #b94a48;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  .LoginView form {
    padding: 30px 4vw 10px;
  }
}
@keyframes loginRotation {
  to {
    transform: rotate(1turn);
  }
}
@keyframes login-form-shake {
  0% {
    transform: translateX(0);
  }
  12.5% {
    transform: translateX(-6px);
  }
  37.5% {
    transform: translateX(5px);
  }
  62.5% {
    transform: translateX(-3px);
  }
  87.5% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
html.rl-started-trigger .LoginView {
  opacity: 0.5;
}
#V-PopupsAsk .modal-body {
  font-size: 18px;
  padding: 3em 15px;
  text-align: center;
}
#V-PopupsLanguages {
  max-width: 710px;
}
#V-PopupsLanguages label {
  display: inline-block;
  padding: 5px 15px;
  margin: 2px 5px;
  width: 180px;
  background-color: rgba(128, 128, 128, 0.1);
  border: 1px solid transparent;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}
#V-PopupsLanguages label.user {
  background-color: rgba(255, 255, 64, 0.15);
  border-color: #ff5;
}
#V-PopupsLanguages label.selected {
  background-color: rgba(64, 255, 64, 0.2);
  border-color: #9c9;
}
#V-PopupsLanguages label.selected::after {
  content: "✔";
  position: absolute;
  right: 4px;
  font-family: snappymail;
}
#V-PopupsLanguages label:hover {
  background-color: rgba(128, 128, 128, 0.2);
  border-color: #ccc;
}
@media screen and (max-width: 999px) {
  #V-PopupsLanguages label {
    width: calc(100% - 40px);
  }
}
.UserBackground body {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#rl-content {
  display: flex;
  height: 100%;
}
#rl-left {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: auto;
  padding-top: 68px;
  transition: width 0.3s ease-out;
  width: 200px;
}
#rl-left nav a {
  color: var(--settings-menu-color, #333);
  cursor: pointer;
  display: block;
  font-size: 18px;
  line-height: 30px;
  padding: 4px 10px;
  text-decoration: none;
}
#rl-left nav a:focus,
#rl-left nav a:hover {
  background-color: var(--settings-menu-hover-bg-color, #333);
  color: var(--settings-menu-hover-color, #eee);
}
#rl-left nav a.selected {
  background-color: var(--settings-menu-selected-bg-color, #333);
  color: var(--settings-menu-selected-color, #eee);
}
#rl-right {
  flex-grow: 1;
  transition: left 0.3s ease-out, right 0.3s ease-out;
  z-index: 1;
}
#V-AdminPane {
  height: 100%;
}
#V-AdminPane > .b-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 34px;
  padding: 8px 8px 8px 0;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  display: flex;
}
#V-AdminPane > .b-toolbar h4 {
  flex-grow: 1;
}
.btn.btn-logout {
  padding-left: 12px;
  padding-right: 12px;
}
#rl-settings-subscreen {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: calc(100% - 50px - 8px - 8px);
  margin: 58px 8px 8px 0;
  overflow-y: auto;
  padding: 20px;
}
/* desktop */
@media screen and (min-width: 1000px) {
  .toggleLeft {
    display: none;
  }
}
/* desktop-large */
@media screen and (min-width: 1401px) {
  #rl-left {
    width: 220px;
  }
}
/* mobile and tablet */
@media screen and (max-width: 999px) {
  #rl-settings-subscreen {
    padding: 10px;
  }
  #rl-right {
    min-width: calc(100% - 8px);
  }
  html.rl-left-panel-disabled #rl-left {
    width: 0;
  }
}
#V-Settings-Config {
  user-select: text;
}
#V-Settings-Config em {
  display: block;
}
#V-Settings-Domains table {
  width: 600px;
}
#V-Settings-Domains .domain-name {
  display: inline-block;
  word-break: break-all;
  box-sizing: border-box;
}
#V-Settings-Domains .domain-alias {
  display: inline-block;
  box-sizing: border-box;
  color: #bbb;
  padding-left: 5px;
}
#V-Settings-Domains .delete-domain,
#V-Settings-Domains .disabled-domain {
  cursor: pointer;
}
#V-Settings-Domains .delete-domain:not(:hover),
#V-Settings-Domains .disabled-domain:not(:hover) {
  opacity: 0.5;
}
#V-Settings-Domains tr.disabled .domain-name,
#V-Settings-Domains tr.disabled .domain-alias {
  color: #bbb;
}
#V-PopupsDomainAlias {
  max-width: 330px;
}
#V-PopupsDomain {
  max-width: 810px;
}
#V-PopupsDomain .domain-desc {
  color: #666;
  line-height: 20px;
  background-color: #f9f9f9;
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 3px;
  margin: -5px 0;
}
#V-PopupsDomain .domain-desc i {
  font-style: normal;
  color: red;
}
#V-PopupsDomain .testing-done {
  color: green !important;
}
#V-PopupsDomain .testing-error {
  color: red !important;
}
#V-PopupsDomain .tab-content {
  grid-column-end: 5;
  border: 1px solid #ddd;
  padding: 10px;
}
#V-Settings-Packages .alert {
  width: 650px;
}
#V-Settings-Packages .disabled table,
#V-Settings-Packages table .disabled {
  opacity: 0.5;
}
#V-Settings-Packages table {
  width: 700px;
}
#V-Settings-Packages table div:first-child {
  display: flex;
}
#V-Settings-Packages .package-name {
  flex-grow: 1;
}
#V-Settings-Packages .package-name.core {
  font-weight: bold;
}
#V-Settings-Packages .package-desc {
  font-size: 12px;
  opacity: 0.7;
}
#V-Settings-Packages td + td {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
#V-Settings-Packages a {
  cursor: pointer;
  margin-right: 1em;
}
#V-PopupsPlugin {
  max-width: 660px;
}
#V-PopupsPlugin .information {
  display: inline-block;
  background-color: #ddd;
  border-radius: 10px;
  cursor: pointer;
  height: 25px;
  width: 30px;
  text-align: center;
  padding-top: 5px;
}
#V-PopupsPlugin textarea {
  width: 400px;
  height: 70px;
}
#V-PopupsPlugin .help-block {
  cursor: help;
  display: inline-block;
  margin-left: 0.25em;
  white-space: break-spaces;
}
#V-PopupsPlugin .help-block::before {
  content: 'ⓘ';
}
#V-PopupsPlugin .help-block span {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  color: #000;
  display: none;
  left: 2px;
  padding: 4px 20px 4px 4px;
  position: absolute;
  right: 2px;
  z-index: 1000;
}
#V-PopupsPlugin .help-block:active span,
#V-PopupsPlugin .help-block:focus span,
#V-PopupsPlugin .help-block:hover span {
  display: block;
}
#V-Settings-About .rl-logo {
  display: inline-block;
  width: 250px;
  height: 200px;
  background: url("images/snappymail-logo.png") -30px -30px;
}
[data-rainloopErrorTip] {
  position: relative;
}
[data-rainloopErrorTip]::before {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #999;
  color: red;
  content: attr(data-rainloopErrorTip);
  font-size: 13px;
  left: 100%;
  opacity: 1;
  padding: 0.25em;
  position: absolute;
  text-align: left;
  top: 100%;
  transition: opacity 0.2s ease-in-out;
  white-space: nowrap;
  z-index: 2001;
}
@media only screen and (max-width: 600px) {
  [data-rainloopErrorTip]::before {
    min-width: 60vw;
    white-space: normal;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: color 9999s ease-out, background-color 9999s ease-out;
}
/*
@media (pointer: coarse), (hover: none) {
	[title] {
		position: relative;
		display: inline-flex;
		justify-content: center;
	}
	[title]:focus::after {
		content: attr(title);
		position: absolute;
		top: 90%;
		color: #000;
		background-color: #fff;
		border: 1px solid;
		width: fit-content;
		padding: 3px;
	}
}
*/
