/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Text-level semantics
   ========================================================================== */

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Forms
   ========================================================================== */

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

@charset "UTF-8";

@font-face {
  font-family: "snappymail";
  src: url("fonts/snappymail.woff2") format("woff2"), url("fonts/snappymail.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.fontastic,
[data-icon]::before,
[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: "snappymail" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  line-height: 1;
  text-transform: none !important;
  speak: never;
  -webkit-font-smoothing: antialiased;
}

[data-icon]::before {
	content: attr(data-icon);
	display: inline-block;
	margin-right: 0.5em;
	min-width: 1em;
}

.icon-arrows-in::before {
  content: "\e000";
}
.icon-arrows-out::before {
  content: "\e001";
}
.icon-user-add::before {
  content: "\e005";
}
.icon-paper-plane::before {
  content: "\e007";
}
.icon-right-mini::before {
  content: "\e01e"; /* › */
}
.icon-down-mini::before {
  content: "\e01f"; /* › rotate 90 */
}
.icon-warning-alt::before {
  content: "\e02a";
}
.icon-ok::before {
  content: "✔";
}
.icon-file::before {
  content: "\e02f";
}
.icon-file-code::before {
  content: "\e030";
}
.icon-file-presentation::before {
  content: "\e031"; /* 📊 */
}
.icon-file-archive::before {
  content: "\e032";
}
.icon-file-audio::before {
  content: "\e033";
}
.icon-file-text::before {
  content: "\e034";
}
.icon-file-image::before {
  content: "\e036";
}
.icon-file-certificate::before {
  content: "\e038";
}
.icon-attachment::before {
  content: "📎";
}
.icon-file-spreadsheet::before {
  content: "\e03a";
}
.icon-file-video::before {
  content: "\e03b";
}
.icon-folder-add::before {
  content: "\e03c";
}
.icon-popup::before {
  content: "\e045";
}
.icon-mail::before {
  content: "✉";
}
.icon-filter::before {
  content: "\e061"; /* ⊆ */
}
.icon-import::before {
  content: "\e066";
}
.icon-export::before {
  content: "\e067";
}
.icon-copy::before {
  content: "\e068";
}
.icon-help::before {
  content: "\e06b";
}
.icon-resize-in::before {
  content: "\e06c";
}
.icon-resize-out::before {
  content: "⤢";
}
.icon-check-mark-circle-two::before {
  content: "\e073";
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}
.row {
  margin-left: -20px;
}
[class*="span"] {
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}
.span12 {
  width: 940px;
}
.span11 {
  width: 860px;
}
.span10 {
  width: 780px;
}
.span9 {
  width: 700px;
}
.span8 {
  width: 620px;
}
.span7 {
  width: 540px;
}
.span6 {
  width: 460px;
}
.span5 {
  width: 380px;
}
.span4 {
  width: 300px;
}
.span3 {
  width: 220px;
}
.span2 {
  width: 140px;
}
.span1 {
  width: 60px;
}
p {
  margin: 0.715em 0;
}
small {
  font-size: 80%;
}
b,
strong {
  font-weight: bolder;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 40px;
  margin: 0.715em 0;
  text-rendering: optimizelegibility;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
h4,
h5,
h6 {
  line-height: 20px;
}
ul,
ol {
  padding: 0;
  margin: 0 0 0.715em 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 1.43em;
}
hr {
  margin: 1.43em 0;
  border: 0;
  border-bottom: 1px solid #eee;
  box-sizing: content-box;
  height: 0;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #999;
  text-decoration: none;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 1.43em;
  border-left: 5px solid #eee;
}
blockquote p {
  margin-bottom: 0;
  line-height: 1.7875em;
}
q::before,
q::after,
blockquote::before,
blockquote::after {
  content: "";
}
address {
  display: block;
  margin-bottom: 1.43em;
  font-style: normal;
  line-height: 1.43em;
}
form {
  margin: 0 0 1.43em;
}
label {
  display: block;
  font-weight: normal;
  line-height: 1.43em;
  margin-bottom: 5px;
}
button,
input,
optgroup,
select,
.select,
textarea {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.43em;
  margin: 0;
  text-transform: none;
}
select,
.select,
textarea,
input {
  box-sizing: border-box;
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  border-radius: 3px;
}
textarea,
input {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s, box-shadow linear 0.2s;
  width: 210px;
}
textarea:focus,
input:focus {
  border-color: #999999;
  box-shadow: none;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  line-height: normal;
  cursor: pointer;
}
input[type="file"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
select,
.select {
  -webkit-appearance: none;
  appearance: none;
  background: #fff url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='10px' width='15px'><text x='0' y='10' fill='rgb(85,85,85)'>▾</text></svg>") right center / 1em no-repeat border-box;
  border: 1px solid #ccc;
  cursor: pointer;
  padding-right: 1.5em;
  width: 223px;
}
select:focus,
.select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.input-xlarge {
  width: 270px;
}
.input-xxlarge {
  width: 530px;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"] {
  margin-left: 0;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eee;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}
.control-group.error > label {
  color: #b94a48;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
  border-color: #b94a48;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.control-group {
  margin-bottom: 0.715em;
}
.form-horizontal .control-group {
  margin-bottom: 1.43em;
}
.form-horizontal .control-group > label {
  display: inline-block;
  padding-top: 5px;
  text-align: right;
  width: 140px;
}
.form-horizontal .control-group > *:not(label) {
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}
.table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1.43em;
}
.table th,
.table td {
  padding: 8px;
  line-height: 1.43em;
  text-align: left;
  vertical-align: text-top;
  border-top: 1px solid #ddd;
}
.table th {
  font-weight: bold;
}
.table thead th {
  vertical-align: bottom;
}
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}
.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  border-radius: 4px;
}
.table-bordered th + th,
.table-bordered td + td {
  border-left: 1px solid #ddd;
}
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}
.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  border-radius: 0 4px 0 0;
}
.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child,
.table-bordered tfoot:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}
.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child,
.table-bordered tfoot:last-child tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  border-radius: 0 4px 0 0;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #f5f5f5;
}
.close {
  float: right;
  font-size: 143%;
  font-weight: bold;
  line-height: 1.43em;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}
.close:not(:hover) {
  opacity: 0.5;
}
.btn {
  border-radius: 3px;
  display: inline-block;
  padding: 4px 13px;
  line-height: 1.43em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #bbb;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  text-decoration: none;
}
.btn:hover {
  opacity: 0.9;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  opacity: 0.9;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  opacity: 0.7;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-large {
  padding: 9px 14px;
  font-size: 121%;
  line-height: normal;
  border-radius: 5px;
}
.btn-small {
  padding: 3px 9px;
  font-size: 80%;
  line-height: 1;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
}
.btn-warning.active,
.btn-danger.active,
.btn-success.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-warning {
  color: #fff;
  background-color: #fbb450;
}
.btn-danger {
  color: #fff;
  background-color: #ee5f5b;
}
.btn-success {
  background-color: #84AB04;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-group {
  position: relative;
  white-space: nowrap;
}
.btn-group + .btn-group {
  margin-left: 3px;
}
.btn-toolbar .btn-group {
  display: inline-block;
}
.btn-toolbar .btn + .btn,
.btn-toolbar .btn-group + .btn,
.btn-toolbar .btn + .btn-group {
  margin-left: 3px;
}
.btn-group > .btn {
  position: relative;
  border-radius: 0;
}
.btn-group > .btn + .btn {
  margin-left: -1px;
}
.btn-group > .btn:first-child {
  margin-left: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 2;
}
.btn .caret {
  margin-top: 8px;
  margin-left: 0;
}
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 1.43em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;
  color: #c09853;
  max-width: 800px;
  min-height: 1.43em;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 1.43em;
}
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
code,
kbd,
samp,
pre {
  padding: 0 3px 2px;
  font-family: var(--fontMono);
  border-radius: 3px;
}
code {
  padding: 2px 4px;
  border: 1px solid #e1e1e8;
}
pre {
  display: block;
  padding: 0.715em;
  margin: 0 0 0.715em;
  white-space: pre-wrap;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
pre code {
  padding: 0;
  border: 0;
}
.dropdown {
  position: relative;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border: 4px solid transparent;
  border-top-color: #000;
}
.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}
.dropdown-menu {
  max-height: 60vh;
  max-width: 90vw;
  overflow: auto;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  color: var(--dropdown-menu-color, inherit);
  background-color: var(--dropdown-menu-background-color, #fff);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}
.dropdown-menu.right-edge {
  right: 0;
  left: auto;
}
.dropdown-menu a {
  background-color: var(--dropdown-menu-bg-color, #fff);
  color: var(--dropdown-menu-color, #333);
  display: block;
  padding: 3px 10px;
  text-decoration: none;
  white-space: nowrap;
}
.dropdown-menu li:not(.disabled) > a:hover,
.dropdown-menu li:not(.disabled) > a:focus {
  background-color: var(--dropdown-menu-hover-bg-color, #444);
  color: var(--dropdown-menu-hover-color, #eee);
  text-decoration: none;
}
.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover {
  color: #999;
  cursor: not-allowed;
  opacity: 0.5;
}
.nav {
  margin-left: 0;
  margin-bottom: 1.43em;
  list-style: none;
}
.nav > li > a {
  display: block;
}
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eee;
}
.pull-right {
  float: right;
}
.show {
  display: block;
}
.fontastic + span,
[class^="icon-"] + span,
[class*=" icon-"] + span {
  margin-left: 0.5em;
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 1em;
  vertical-align: text-top;
}
.disabled [class^="icon-"],
.disabled [class*=" icon-"],
.btn[disabled] [class^="icon-"],
.btn[disabled] [class*=" icon-"] {
  opacity: 0.5;
}
/* .b-contacts-content .b-view-content */
.iconsize24 {
  font-size: 24px;
}
.iconcolor-green {
  color: green;
}
.iconcolor-red {
  color: red;
}
@keyframes rotation {
  to {
    transform: rotate(1turn);
  }
}
.icon-spinner {
  height: 0.75em;
  width: 0.75em;
  margin: 0 -1px;
  border: 3px solid #aaa;
  border-top-color: #333;
  border-radius: 100%;
}
.icon-spinner:not(.not-animated),
.list-loading .icon-spinner.not-animated {
  border-color: transparent;
  border-top-color: #999;
  animation: rotation 0.8s infinite ease-in-out;
}
.btn.btn-success .icon-spinner {
  border-color: transparent;
  border-top-color: #fff;
}
.fontastic.icon-spinner {
  text-indent: -5em;
  overflow: hidden;
}
.legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 1.43em;
  font-size: 21px;
  line-height: 2.145em;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
summary.legend {
  display: list-item;
  cursor: pointer;
}
.btn.btn-thin {
  padding: 4px 9px;
}
.alert a:not(.close) {
  text-decoration: underline;
  color: #c09853;
}
.alert.alert-info a:not(.close) {
  color: #3a87ad;
}
.alert.alert-error a:not(.close) {
  color: #b94a48;
}
/* mobile and tablet */
@media screen and (max-width: 999px) {
  .form-horizontal .control-group > label {
    text-align: left;
  }
  .form-horizontal .control-group > *:not(label) {
    margin-left: 20px;
  }
}
#rl-settings-subscreen,
.g-ui-user-select-none {
  user-select: none;
  -webkit-touch-callout: none;
}
.g-ui-link {
  color: var(--link-color, #369);
  cursor: pointer;
  padding: 2px;
  text-decoration: underline;
}
.g-ui-link:focus {
  outline: 1px;
  outline-style: dotted;
}
.settings-save-trigger {
  display: inline-block;
  height: 1em;
  line-height: 1em;
  margin-left: 0.5em;
}
.settings-save-trigger::after {
  font-family: "snappymail";
  content: " ";
  display: block;
  opacity: 0;
  transition: opacity 1s linear;
}
.settings-save-trigger.saving::after {
  animation: rotation 0.8s infinite ease-in-out;
  border: 3px solid transparent;
  border-radius: 100%;
  border-top-color: #999;
  height: 11px;
  opacity: 1;
  width: 11px;
}
.settings-save-trigger.success::after {
  color: #080;
  content: "✔";
  opacity: 1;
}
.settings-save-trigger.error::after {
  color: #F00;
  content: "✖";
  opacity: 1;
}
textarea + .settings-save-trigger {
  vertical-align: top;
}
.settings-saved-trigger-input {
  transition: border-color 0.5s linear;
}
.settings-saved-trigger-input.success {
  border-color: green;
}
.settings-saved-trigger-input.error {
  border-color: red;
}
.e-action {
  cursor: pointer;
}
.list-table {
  max-width: 800px;
}
.button-confirm-delete {
  transition: all 0.2s linear;
  white-space: nowrap;
}
.button-confirm-delete:not(.delete-access) {
  opacity: 0;
  transform: translateX(-15px);
  visibility: hidden;
}
.drag-handle {
  color: #eee;
  cursor: grab;
}
tr:hover .drag-handle {
  color: #aaa;
}
.tabs {
  display: grid;
}
.tabs input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
  display: none;
}
.tabs label {
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  grid-row-start: 1;
  line-height: 1.43em;
  opacity: 0.6;
  margin: 0 2px -1px 0;
  padding: 5px;
  text-align: center;
}
.tabs label:hover {
  border-color: #eee;
  opacity: 0.8;
}
.tabs [id^="tab"]:checked + label {
  background-color: #fff;
  border-color: #ddd #ddd transparent #ddd;
  opacity: 1;
  z-index: 1;
}
.tabs .tab-content {
  grid-column-start: 1;
  grid-row-start: 2;
  visibility: hidden;
}
.tabs [id^="tab"]:checked + label + .tab-content {
  visibility: visible;
}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html,
body {
  height: 100%;
  overflow: hidden;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
body {
  -webkit-touch-callout: none;
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
html.list-loading body {
  /*	cursor: wait;*/
  cursor: progress;
}
@media screen and (min-width: 1000px) {
  body {
    background-image: var(--main-bg-image);
    background-size: var(--main-bg-size);
    background-repeat: var(--main-bg-repeat);
  }
}
option:disabled {
  color: #aaa;
  cursor: not-allowed;
}
*,
select:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
.dialog-backdrop {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
dialog {
  border: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 5px 80px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  max-height: calc(100vh - 20px);
  max-width: 560px;
  overflow: auto;
  padding: 0;
  position: fixed;
  transition: all 0.2s ease-out;
  top: 0;
  width: calc(100% - 20px);
}
dialog:not([open]) {
  display: none !important;
}
dialog.animate {
  opacity: 1;
}
dialog:not(.animate) {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  top: -25%;
}
dialog > header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
dialog > header .close {
  margin-top: 2px;
}
dialog > header h3 {
  margin: 0;
  line-height: 30px;
}
dialog .modal-body {
  overflow: auto;
  margin: 0;
  padding: 15px;
}
dialog > footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  border-top: 1px solid #ddd;
  border-radius: 0 0 6px 6px;
}
dialog > footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
dialog > footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.e-component {
  white-space: nowrap;
}
.e-component * {
  display: inline-block;
}
.e-component select:focus {
  outline: 1px dotted;
}
.e-component.e-checkbox {
  cursor: pointer;
  margin-bottom: 6px;
  margin-left: -2px;
  padding: 2px;
}
.e-component.e-checkbox:focus {
  outline: 1px dotted;
}
.e-component.e-checkbox.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.e-component span {
  margin-left: 0.5em;
  white-space: normal;
}
.e-component select + span {
  line-height: 1.43em;
  padding: 4px 0;
}
.e-checkbox.material-design {
  line-height: 20px;
}
.e-checkbox.material-design > div {
  position: relative;
  width: 18px;
  height: 18px;
  vertical-align: top;
}
.e-checkbox.material-design > div > div {
  position: absolute;
  box-sizing: border-box;
  margin-top: 1px;
  animation: checkmark-to-box 200ms ease-out forwards;
}
.e-checkbox.material-design div.checked {
  animation: box-to-checkmark 200ms ease-out forwards;
}
@keyframes box-to-checkmark {
  0% {
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #999;
    transform: rotate(0deg);
  }
  50% {
    top: 13px;
    left: 5px;
    width: 4px;
    height: 4px;
    transform: rotate(45deg);
  }
  100% {
    top: -1px;
    left: 5px;
    width: 10px;
    height: 18px;
    border: 2px solid #0F9D58;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
@keyframes checkmark-to-box {
  0% {
    top: -1px;
    left: 5px;
    width: 10px;
    height: 18px;
    border: 2px solid #0F9D58;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  50% {
    top: 13px;
    left: 5px;
    width: 4px;
    height: 4px;
    transform: rotate(45deg);
  }
  100% {
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #999;
    transform: rotate(0deg);
  }
}
#V-Login,
#V-AdminLogin {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-width: 250px;
  max-width: 600px;
  transition: all 0.3s ease-out;
  z-index: 5;
}
.LoginView .descWrapper {
  color: var(--loading-color, #000);
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: var(--loading-text-shadow);
}
.LoginView form {
  background-color: var(--login-bg-color, rgba(0, 0, 0, 0.5));
  border: var(--login-border, 1px solid rgba(255, 255, 255, 0.2));
  border-radius: var(--login-border-radius, 7px);
  box-shadow: var(--login-box-shadow);
  color: var(--login-color, rgba(255, 255, 255, 0.8));
  margin: 0;
  padding: 40px 40px 20px 40px;
  position: relative;
}
.LoginView form * {
  color: var(--login-color, rgba(255, 255, 255, 0.8));
}
.LoginView form .controls.error * {
  color: #f76260;
  border-color: #f76260;
}
.LoginView form.submitting > * {
  opacity: 0.3;
}
.LoginView form.submitting::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  border: 8px solid transparent;
  border-top-color: var(--spinner-color, #fff);
  animation: loginRotation 1s infinite ease-in-out;
  border-radius: 50%;
  z-index: 1052;
}
.LoginView .controls,
.LoginView .control-group {
  margin-bottom: 25px;
  position: relative;
}
.LoginView input {
  font-size: 18px;
  height: 40px;
  padding-right: 30px;
}
.LoginView input:placeholder {
  color: #fff;
}
.LoginView input:focus,
.LoginView input:hover {
  border-color: #fff;
}
.LoginView input,
.LoginView .btn {
  background: none !important;
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: #fff;
}
.LoginView .fontastic + input {
  padding-left: 30px;
}
.LoginView .controls > .fontastic:first-child {
  position: absolute;
  font-size: 17px;
  line-height: 38px;
  left: 6px;
}
.LoginView input + button {
  border: none;
  background: none;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  line-height: 38px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 6px;
  top: 0;
}
.LoginView .btn {
  text-transform: uppercase;
  font-size: 13px;
}
.LoginView .btn:hover,
.LoginView .btn:active {
  border-color: #fff;
}
.LoginView .buttonLogin {
  margin: 0;
}
.LoginView .alert {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  opacity: 1;
  transition: opacity 0.5s linear;
}
.LoginView .alert[hidden] {
  opacity: 0;
}
.LoginView .language-buttons {
  flex-grow: 1;
  margin-top: 5px;
  text-align: right;
}
.LoginView .language-button {
  padding: 5px;
  text-decoration: none;
}
.LoginView .errorAnimated {
  animation: login-form-shake 400ms ease-in-out;
}
.LoginView .errorAnimated .buttonLogin {
  color: #b94a48;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  .LoginView form {
    padding: 30px 4vw 10px;
  }
}
@keyframes loginRotation {
  to {
    transform: rotate(1turn);
  }
}
@keyframes login-form-shake {
  0% {
    transform: translateX(0);
  }
  12.5% {
    transform: translateX(-6px);
  }
  37.5% {
    transform: translateX(5px);
  }
  62.5% {
    transform: translateX(-3px);
  }
  87.5% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
html.rl-started-trigger .LoginView {
  /*transform: scale(1.1);*/
  transform: translateY(-20px);
  opacity: 0.5;
}
#V-PopupsAsk .modal-body {
  font-size: 18px;
  padding: 3em 15px;
  text-align: center;
}
#V-PopupsLanguages {
  max-width: 710px;
}
#V-PopupsLanguages label {
  display: inline-block;
  padding: 5px 15px;
  margin: 2px 5px;
  width: 180px;
  background-color: rgba(128, 128, 128, 0.1);
  border: 1px solid transparent;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}
#V-PopupsLanguages label.user {
  background-color: rgba(255, 255, 64, 0.15);
  border-color: #ff5;
}
#V-PopupsLanguages label.selected {
  background-color: rgba(64, 255, 64, 0.2);
  border-color: #9c9;
}
#V-PopupsLanguages label.selected::after {
  content: "✔";
  position: absolute;
  right: 4px;
  font-family: snappymail;
}
#V-PopupsLanguages label:hover {
  background-color: rgba(128, 128, 128, 0.2);
  border-color: #ccc;
}
@media screen and (max-width: 999px) {
  #V-PopupsLanguages label {
    width: calc(100% - 40px);
  }
}
.UserBackground body {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#rl-left,
#rl-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  border: 0;
  z-index: 0;
}
#rl-left {
  width: 200px;
}
#rl-right {
  z-index: 1;
  left: 200px;
}
html.rl-mobile:not(.rl-left-panel-disabled) #rl-right {
  right: -150px;
}
html.rl-mobile.rl-left-panel-disabled #rl-right {
  left: 5px !important;
}
/*
.resizable::after {
	background-color: #aaa;
	bottom: 0;
	content: '';
	height: 22px;
	pointer-events: none;
	position: absolute;
	right: 0;
	text-align: center;
	width: 20px;
}
.resizable::-webkit-resizer {
	background: #aaa;
	background: rgba(255,255,255,0.5);
}
*/
.resizer {
  background: #aaa;
  background: rgba(255, 255, 255, 0.5);
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 102;
}
.resizer:hover {
  opacity: 1;
}
html:not(.rl-left-panel-disabled) #rl-left {
  resize: horizontal;
  overflow: hidden;
  min-width: 155px;
  max-width: 350px;
}
#rl-left > .resizer,
.rl-side-preview-pane #V-MailMessageList > .resizer {
  cursor: ew-resize;
  height: 100%;
  right: 0;
  top: 0;
  width: 5px;
}
.rl-side-preview-pane #V-MailMessageList {
  resize: horizontal;
  min-width: 320px;
  max-width: 60%;
}
.rl-bottom-preview-pane #V-MailMessageList {
  resize: vertical;
  min-height: 200px;
  max-height: 60%;
}
.rl-bottom-preview-pane #V-MailMessageList > .resizer {
  cursor: ns-resize;
  height: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
}
html:not(.rl-left-panel-disabled) #rl-left > .resizer,
#V-MailMessageList > .resizer {
  display: block;
}
#V-MailMessageList {
  position: absolute;
  top: 0;
  bottom: 5px;
  left: 0;
  width: 50%;
}
#V-MailMessageView {
  position: absolute;
  top: 58px;
  bottom: 13px;
  right: 0;
  left: 0;
}
#V-MailMessageView .b-message-view-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
  text-align: center;
}
#V-MailMessageView .b-message-view-backdrop .backdrop-message {
  position: relative;
  display: inline-block;
  color: white;
  font-size: 20px;
  line-height: 30px;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 5px;
  text-shadow: 0 1px 1px #000;
  transform: translateY(-50%);
  top: 50%;
}
html.rl-side-preview-pane #V-MailMessageView {
  left: 50%;
}
.dropdown-menu * + .dividerbar {
  margin-top: 9px;
  padding-top: 9px;
  border-top: 1px solid #e5e5e5;
}
.dropdown.show {
  box-shadow: 0 0 1px var(--main-color, #333);
}
.btn.btn-transparent {
  background: none !important;
  border-color: transparent !important;
  text-shadow: none !important;
  box-shadow: none !important;
  opacity: 0.6;
}
.btn.btn-transparent:hover {
  opacity: 1;
}
.btn-group.open .btn.btn-transparent.dropdown-toggle {
  color: #BD362F;
}
.btn-group.open .btn.btn-transparent.dropdown-toggle .caret {
  border-top-color: #BD362F;
}
.btn-group > .btn.single {
  border-radius: 3px !important;
}
/* desktop */
/* desktop-large */
@media screen and (min-width: 1401px) {
  #rl-left {
    width: 220px;
  }
  #rl-right {
    left: 220px;
  }
  #V-MailMessageList {
    width: 40%;
  }
  html.rl-side-preview-pane #V-MailMessageView {
    left: 40%;
  }
}
/* mobile and tablet */
@media screen and (max-width: 999px) {
  #rl-left {
    width: 155px;
  }
  #rl-right {
    left: 155px;
  }
  #rl-settings-subscreen {
    padding: 10px;
  }
  .dropdown-menu a {
    line-height: 2.5;
  }
}
html:not(.rl-ctrl-key-pressed) .visible-on-ctrl-btn,
html.rl-ctrl-key-pressed .hidden-on-ctrl-btn,
.show-on-panel-disabled {
  display: none;
}
html.rl-left-panel-disabled #rl-left {
  width: 60px !important;
}
html.rl-left-panel-disabled #rl-left .show-on-panel-disabled {
  display: block;
}
html.rl-left-panel-disabled #rl-left .b-content {
  opacity: 0.3;
}
html.rl-left-panel-disabled #rl-left .hide-on-panel-disabled {
  display: none;
}
html.rl-left-panel-disabled #rl-right {
  left: 60px !important;
}
html.rl-no-preview-pane #V-MailMessageList {
  right: 5px !important;
  width: inherit;
}
html.rl-mobile #rl-left > .resizer,
html.rl-no-preview-pane #rl-right .resizer {
  display: none !important;
}
html.rl-bottom-preview-pane #V-MailMessageList {
  bottom: inherit;
  width: inherit;
  height: 300px;
  right: 0;
}
html.rl-bottom-preview-pane #V-MailMessageView {
  left: 0;
  top: 356px;
}
html.rl-mobile .hide-mobile,
html:not(.rl-mobile) .show-mobile {
  display: none !important;
}
.e-paginator a {
  opacity: 0.5;
  text-decoration: none;
  font-size: 22px;
  padding: 3px;
  cursor: pointer;
}
.e-paginator a:hover {
  opacity: 0.8;
}
.e-paginator a.current {
  opacity: 1;
  font-size: 25px;
  cursor: default;
}
#top-system-dropdown-id {
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}
.rl-left-panel-disabled #more-list-dropdown-id + .dropdown-menu {
  position: fixed;
  top: 40px;
}
#V-SystemDropDown {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  padding: 10px 8px;
  z-index: 103;
}
#V-SystemDropDown .email-title {
  display: inline-block;
  max-width: 50vw;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 28px;
  vertical-align: middle;
}
#V-SystemDropDown .audioPlace {
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  height: 30px;
  margin-right: 10px;
  width: 1em;
}
#V-SystemDropDown .audioPlace .stopIcon {
  color: orange;
  display: none;
}
#V-SystemDropDown .audioPlace:hover .playIcon {
  display: none;
}
#V-SystemDropDown .audioPlace:hover .stopIcon {
  display: inline-block;
}
#V-SystemDropDown .accountPlace {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  height: 29px;
  line-height: 30px;
  max-width: 25vw;
  overflow: hidden;
  padding: 1px 8px;
  text-overflow: ellipsis;
  text-shadow: 0 1px 0 #000;
  white-space: nowrap;
}
#V-SystemDropDown .counter {
  display: inline-block;
}
#V-SystemDropDown .dropdown-menu a.account-item {
  padding-right: 5px;
}
@keyframes equaliserBar {
  0% {
    top: 30%;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 30%;
  }
}
.playIcon {
  margin-top: 5px;
  height: 20px;
  position: relative;
}
.playIcon *,
.playIcon::before,
.playIcon::after {
  animation: equaliserBar 1s infinite;
  background: orange;
  bottom: 0;
  left: calc(1em / 2 - 2px);
  position: absolute;
  width: 5px;
  content: '';
}
.playIcon::before {
  left: calc(1em / 2 - 9px);
  animation-delay: -0.33s;
}
.playIcon::after {
  left: calc(1em / 2 + 5px);
  animation-delay: -0.66s;
}
#V-PopupsKeyboardShortcutsHelp {
  max-width: 700px;
}
#V-PopupsKeyboardShortcutsHelp td[class^="icon-"] {
  display: table-cell;
}
#V-PopupsKeyboardShortcutsHelp .tab-content {
  grid-column-end: 6;
}
.b-folders {
  /**/
  /**/
}
.b-folders > * {
  position: absolute;
  right: 0;
  left: 0;
}
.b-folders ul {
  margin: 0;
}
.b-folders .move-action-content-wrapper {
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.05;
  background-color: #fff;
  background-size: 60px 60px;
  background-image: linear-gradient(135deg, #000 25%, transparent 25%, transparent 50%, #000 50%, #000 75%, transparent 75%, transparent);
}
.b-folders .b-toolbar {
  top: 0;
  height: 30px;
  padding: 10px 0 0 8px;
  color: #fff;
  z-index: 101;
}
.b-folders .b-footer {
  bottom: 10px;
  height: 30px;
  padding: 0 10px 0 5px;
  z-index: 101;
  overflow: hidden;
  white-space: nowrap;
}
.b-folders .b-content {
  bottom: 45px;
  top: 58px;
  overflow: hidden;
  overflow-y: auto;
  min-width: 100px;
}
.b-folders hr {
  margin: 10px;
  border-color: #999;
}
.b-folders li {
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
.b-folders li a {
  display: block;
  position: relative;
  z-index: 1;
  height: 34px;
  line-height: 34px;
  background-color: transparent;
  vertical-align: middle;
  color: var(--folders-disabled-color, #666);
  border-left: 3px solid transparent;
  padding: 0 2em 0 7px;
  text-decoration: none;
}
.b-folders li a.selectable {
  color: var(--folders-color, #333);
  cursor: pointer;
}
.b-folders li a.selectable:hover {
  background-color: var(--folders-hover-bg-color, #333);
  color: var(--folders-hover-color, #eee);
}
.b-folders li a.selectable.droppableHover {
  background-color: var(--folders-drop-bg-color, #333);
  color: var(--folders-drop-color, #eee);
}
.b-folders li a.selectable.droppableHover * {
  pointer-events: none;
}
.b-folders li a.selectable.focused {
  background-color: var(--folders-focused-bg-color, #333);
  color: var(--folders-focused-color, #eee);
}
.b-folders li a.selectable.selected {
  background-color: var(--folders-selected-bg-color, #333);
  color: var(--folders-selected-color, #eee);
}
.b-folders li a:not(.selectable) {
  cursor: default;
  font-style: italic;
}
.b-folders li a.focused {
  background-color: #888;
  border-left-color: #fff;
}
.b-folders li a.unread-sub {
  font-weight: bold;
}
.b-folders li a.hidden {
  display: none;
}
.b-folders li a .e-collapsed-sign {
  cursor: pointer;
  font-size: 150%;
  vertical-align: inherit;
}
.b-folders li a[data-unread] {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}
.b-folders li ul.collapsed {
  max-height: 0;
  height: 0;
  display: none;
}
.b-folders .b-folders-system a[data-unread]::after,
.b-folders .b-folders-user a[data-unread]:not(.system)::after {
  content: attr(data-unread);
  background-color: #999;
  border-radius: 9px;
  color: #fff;
  font-size: 11px;
  line-height: 19px;
  margin-top: 5px;
  min-width: 1em;
  padding: 1px 4px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 3px;
}
.b-folders .flag-icon {
  margin-left: 7px;
}
.b-folders .flag-icon::after {
  content: '☆';
  opacity: 0.5;
}
.b-folders .is-flagged .flag-icon::after {
  color: orange;
  content: '★';
  opacity: 1;
}
.b-folders .b-folders-system {
  font-weight: bold;
}
.b-folders li li a {
  padding-left: 22px;
}
.b-folders li li li a {
  padding-left: 37px;
}
.b-folders li li li li a {
  padding-left: 52px;
}
.b-folders li li li li li a {
  padding-left: 67px;
}
.b-folders.single-root-inbox .b-folders-user > li > a {
  display: none !important;
}
.b-folders.single-root-inbox li li a {
  padding-left: 7px;
}
.b-folders.single-root-inbox li li li a {
  padding-left: 22px;
}
.b-folders.single-root-inbox li li li li a {
  padding-left: 37px;
}
.b-folders.single-root-inbox li li li li li a {
  padding-left: 52px;
}
.btn.buttonCompose {
  width: calc(100% - 68px);
  max-width: -moz-fit-content;
  max-width: -webkit-fit-content;
  max-width: fit-content;
  overflow: hidden;
  height: 19px;
  padding: 4px 8px;
}
html.rl-left-panel-disabled .buttonComposeText {
  display: none;
}
html.rl-left-panel-disabled .btn.buttonCompose {
  width: auto;
}
html.rl-left-panel-disabled .btn.buttonContacts {
  margin-top: 10px !important;
  margin-left: 0 !important;
}
html.rl-left-panel-disabled.rl-mobile #rl-left {
  visibility: hidden;
}
html.rl-mobile .b-folders .b-content {
  bottom: 0;
}
#V-PopupsFilter {
  max-width: 750px;
}
#V-PopupsFilter .button-delete {
  cursor: pointer;
}
#V-PopupsFilter .setRecipientsBtn {
  margin-top: -2px;
  margin-left: 5px;
}
#V-PopupsOpenPgpKey,
#V-PopupsOpenPgpGenerate {
  max-width: 570px;
}
#V-PopupsOpenPgpKey .key-viewer {
  margin: 0;
  max-height: 500px;
  overflow: auto;
}
#V-PopupsOpenPgpImport {
  max-width: 645px;
}
#V-PopupsOpenPgpImport .inputKey {
  font-family: var(--fontMono);
  width: 600px;
}
#V-PopupsIdentity {
  max-width: 770px;
}
#V-PopupsIdentity .e-signature-place {
  border: 1px solid #ccc;
  border-radius: 3px;
}
#V-PopupsIdentity .textEmail {
  margin-top: 5px;
  font-weight: bold;
}
#V-PopupsAdvancedSearch {
  max-width: 780px;
}
#V-PopupsAdvancedSearch label {
  width: 110px;
}
#V-PopupsAdvancedSearch .span4 {
  width: 360px;
}
.attachmentItem {
  position: relative;
  display: inline-block;
  margin: 5px;
  max-width: 200px;
  min-width: 60px;
  overflow: hidden;
  list-style: none;
  line-height: 24px;
  border: 0;
  background-color: rgba(128, 128, 128, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  /*
	.attachmentIconParent.hasPreview.isImage {
		.iconMain {
			display: none;
		}
	}
*/
}
.attachmentItem.waiting {
  opacity: 0.6;
}
.attachmentItem.checked {
  box-shadow: 0 0 0 1px rgba(0, 0, 255, 0.1), 0 1px 5px rgba(0, 0, 255, 0.2);
}
.attachmentItem .checkboxAttachment {
  bottom: 6px;
  cursor: pointer;
  position: absolute;
  right: 6px;
}
.attachmentItem .attachmentSize {
  font-size: 12px;
  opacity: 0.5;
}
.attachmentItem.error .iconMain,
.attachmentItem.error .iconPreview,
.attachmentItem.error .attachmentSize,
.attachmentItem.error .attachmentName {
  color: red;
}
.attachmentItem .attachmentIconParent {
  position: absolute;
  height: 56px;
  width: 60px;
  text-align: center;
}
.attachmentItem .iconPreview,
.attachmentItem .iconBG,
.attachmentItem .iconMain,
.attachmentItem .iconProgress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.attachmentItem .iconProgress {
  background: #eee;
  width: 0%;
}
.attachmentItem .iconBG {
  font-size: 18px;
  font-weight: bold;
  line-height: 55px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
.attachmentItem .iconPreview {
  display: none;
}
.attachmentItem .attachmentNameParent {
  position: relative;
  margin-left: 60px;
  padding: 4px 4px 3px 6px;
  min-width: 90px;
  cursor: pointer;
  border-left: 1px solid #ddd;
}
.attachmentItem .iconMain,
.attachmentItem .iconPreview {
  box-sizing: border-box;
  padding: 6px 0 0;
  font-size: 36px;
  color: #aaa;
}
.attachmentItem .iconMain.icon-none,
.attachmentItem .iconPreview.icon-none {
  display: none;
}
.attachmentItem .showPreview,
.attachmentItem .showPreplay,
.attachmentItem .hasPreview:hover .iconMain,
.attachmentItem .hasPreplay:hover .iconMain,
.attachmentItem .hasPreview .hidePreview,
.attachmentItem .hasPreplay .hidePreview {
  display: none;
}
.attachmentItem .hasPreview:hover .iconPreview,
.attachmentItem .hasPreplay:hover .iconPreview {
  display: inline-block;
}
.attachmentItem .hasPreview .showPreview,
.attachmentItem .hasPreplay .showPreplay {
  display: inline;
  cursor: pointer;
}
html.rl-mobile .message-selected #V-MailMessageList,
html.rl-no-preview-pane .message-selected #V-MailMessageList {
  display: none;
}
#V-MailMessageList.focused .messageList {
  border-color: #9d9d9d;
}
#sort-list-dropdown-id {
  padding-left: 6px;
  padding-right: 6px;
}
#V-MailMessageList .btn-toolbar {
  height: 30px;
  padding: 10px 1px;
  white-space: nowrap;
}
.messageList {
  height: calc(100% - 50px);
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}
.messageList .b-footer {
  display: flex;
  flex-shrink: 0;
  padding: 7px;
  background-color: var(--message-list-toolbar-bg-color, #eee);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 1px solid #bbb;
}
.messageList .b-footer .e-quota {
  border-bottom: 1px dashed #333;
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 18px;
  cursor: help;
}
.messageList .b-footer nav {
  flex-grow: 1;
  text-align: right;
}
.messageList .btn.buttonMoreSearch {
  font-size: 11px;
  padding-left: 8px;
  padding-right: 8px;
}
.messageList .second-toolbar {
  display: flex;
  flex-shrink: 0;
  padding: 10px 8px 10px 11px;
  white-space: nowrap;
  background-color: var(--message-list-toolbar-bg-color, #eee);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid #bbb;
}
.messageList .checkboxCheckAll {
  cursor: pointer;
  margin: 0.45em 0.5em 0 0;
}
.messageList .search-input-wrp {
  flex-grow: 1;
  position: relative;
  text-align: right;
}
.messageList .inputSearch {
  max-width: 300px;
  width: 100%;
}
.messageList .closeSearch {
  position: absolute;
  right: 0;
  top: 5px;
  margin: 0 7px;
  z-index: 100;
  vertical-align: middle;
  opacity: 0.4;
}
.messageList .closeSearch:hover {
  opacity: 0.6;
}
.messageList .b-content {
  height: 100%;
  padding: 0;
  overflow: auto;
  scroll-behavior: smooth;
}
.messageList .b-content .listClear {
  text-align: center;
  padding: 10px;
  line-height: 13px;
}
.messageList .b-content .listEmptyMessage,
.messageList .b-content .listLoading,
.messageList .b-content .listDragOver,
.messageList .b-content .listError {
  color: #999;
  text-align: center;
  padding: 60px 10px;
  font-size: 24px;
  line-height: 30px;
}
.messageList .b-content .listDragOver {
  max-height: 0;
  overflow: hidden;
  padding: 0 10px;
}
.messageList .b-content .listDragOver.viewAppendArea {
  max-height: 120px;
  padding: 30px 10px;
}
.messageList .b-content .listDragOver.dragOverEnter {
  background-color: #e0fdda;
  color: #333;
}
.messageList .b-content .listError {
  color: #DA4F49;
}
.messageList .b-content .listSearchDesc {
  font-size: 16px;
  padding: 12px;
  border-bottom: 1px solid #eee;
}
.messageList .b-content .listThreadUidDesc {
  font-size: 16px;
  padding: 7px 20px 6px 20px;
  background-color: rgba(128, 128, 128, 0.5);
  border-bottom: 1px solid #888;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 1px 0 #000;
  text-align: center;
}
.messageList .b-content .fullThreadsParent {
  height: 25px;
  padding: 3px 5px;
  background-color: #f4f4f4;
  text-align: center;
}
html:not(rl-mobile) .hideMessageListCheckbox .checkboxCheckAll {
  visibility: hidden;
}
html:not(rl-mobile) .hideMessageListCheckbox .checkboxMessage {
  display: none;
}
.messageListItem {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  font-size: 12px;
  overflow: hidden;
  cursor: pointer;
  margin: 0;
  padding: 5px 0;
  border: 0;
  border-bottom: 1px solid rgba(153, 153, 153, 0.2);
  border-left: 6px solid #eee;
  z-index: 100;
  /*
	> * {
		display: flex;
		flex: 0 0 auto;
		order: 0;
	}
*/
}
.messageListItem.focused {
  background-color: rgba(128, 128, 128, 0.1);
  border-left-color: #ccc;
}
.messageListItem .importantMark {
  color: red;
  margin-right: 5px;
}
.messageListItem.deleted-mark {
  opacity: 0.7;
}
.messageListItem.deleted-mark .subjectParent {
  text-decoration: line-through;
}
.messageListItem.deleted {
  opacity: 0.3;
}
.messageListItem .checkboxMessage {
  padding: 0 6px;
  font-size: 16px;
}
.messageListItem time,
.messageListItem .sizeParent {
  margin: 0 5px;
  opacity: 0.6;
  font-size: 11px;
  white-space: nowrap;
}
.messageListItem .attachmentParent {
  position: relative;
  margin: 2px 10px 0 5px;
  color: #666;
  text-shadow: 0 1px 0 #eee;
}
.messageListItem .senderParent,
.messageListItem .subjectParent {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.messageListItem .threadsCountParent {
  display: inline;
  overflow: hidden;
  background-color: #eee;
  padding: 1px 5px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.messageListItem .threadsCountParent.lastSelected {
  background-color: #999;
  border-color: #999;
  color: #fff;
}
.messageListItem .threadsCountParent:hover {
  border-color: #666;
}
.messageListItem.emptySubject .subjectParent {
  font-style: italic;
  opacity: 0.5;
}
.messageListItem .threads-len span {
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 11px;
  padding: 0 2px;
}
.messageListItem .threads-len span:hover {
  background-color: rgba(127, 127, 127, 0.3);
  border-color: #666;
}
.messageListItem .replyFlag,
.messageListItem .forwardFlag {
  margin-right: 0.25em;
}
.messageListItem:not(.withAttachments) .attachmentParent {
  display: none;
}
.messageListItem.hasUnseenSubMessage {
  background-color: rgba(255, 255, 64, 0.15);
  border-left-color: #ffdb99;
}
.messageListItem.hasUnseenSubMessage.focused {
  border-left-color: #cc8400;
}
.messageListItem.unseen {
  background-color: rgba(255, 255, 64, 0.15);
  border-left-color: orange;
}
.messageListItem.unseen .senderParent,
.messageListItem.unseen .subjectParent {
  font-weight: bold;
}
.messageListItem.unseen.focused {
  border-left-color: #cc8400;
}
.messageListItem.checked {
  border-left-color: #69a8f5;
}
.messageListItem.checked.focused {
  border-left-color: #217ef0;
}
.messageListItem.selected {
  background-color: rgba(140, 200, 255, 0.3);
  border-bottom-color: rgba(57, 140, 242, 0.2);
  border-left-color: #398CF2;
  z-index: 101;
}
.messageListItem.selected + .messageListItem {
  border-bottom-color: rgba(57, 140, 242, 0.3);
}
.messageListItem .flagParent {
  padding: 0 10px 0 5px;
}
.messageListItem.flagged .flagParent::after,
.messageListItem.hasFlaggedSubMessage .flagParent::after {
  color: orange;
  content: '★';
  /*⚑*/
}
.messageListItem:not(.flagged):not(.hasFlaggedSubMessage) .flagParent::after {
  content: '☆';
  /*⚐*/
}
.messageListItem:not(.flagged):not(.hasFlaggedSubMessage) .flagParent:not(:hover) {
  opacity: 0.5;
}
html.rl-ctrl-key-pressed .messageListItem {
  cursor: copy;
}
@media screen and (min-width: 1000px) {
  .messageList .listDragOver {
    transition: all 400ms ease;
  }
}
/* desktop-large */
@media screen and (min-width: 1401px) {
  .messageListItem {
    font-size: 13px;
  }
  .messageListItem time {
    font-size: 13px;
  }
}
#messagesDragImage {
  color: #fff;
  background-color: #000;
  height: 20px;
  min-width: 30px;
  padding: 4px 10px;
  position: fixed;
  right: -100px;
  top: 0;
}
.rl-side-preview-pane .messageListItem .checkboxMessage,
.rl-mobile .messageListItem .checkboxMessage {
  line-height: 12px;
  margin: 10px 0 -5px;
}
.rl-side-preview-pane .messageListItem .subjectParent,
.rl-mobile .messageListItem .subjectParent {
  flex: 1 0 auto;
  line-height: 16px;
  order: 1;
  width: calc(100% - 120px);
}
.rl-side-preview-pane .messageListItem .senderParent,
.rl-mobile .messageListItem .senderParent {
  flex: 1 0 45%;
}
.rl-side-preview-pane .messageListItem .flagParent,
.rl-mobile .messageListItem .flagParent {
  order: 1;
}
.rl-side-preview-pane .messageListItem .sizeParent,
.rl-mobile .messageListItem .sizeParent {
  order: 2;
}
.rl-side-preview-pane .messageListItem .attachmentParent,
.rl-mobile .messageListItem .attachmentParent {
  order: 3;
}
.rl-side-preview-pane .messageList:not(.hideMessageListCheckbox) .subjectParent,
.rl-mobile .messageList:not(.hideMessageListCheckbox) .subjectParent {
  margin-left: 28px;
}
html:not(.rl-mobile):not(.rl-side-preview-pane) .messageListItem {
  line-height: 25px;
  flex-wrap: nowrap;
}
html:not(.rl-mobile):not(.rl-side-preview-pane) .messageListItem > * {
  line-height: 25px;
}
html:not(.rl-mobile):not(.rl-side-preview-pane) .messageListItem .senderParent {
  flex: 0 0 25%;
}
html:not(.rl-mobile):not(.rl-side-preview-pane) .messageListItem .subjectParent {
  flex: 1 1 auto;
}
html.rl-no-preview-pane #rl-right:not(.message-selected) #V-MailMessageView {
  display: none;
}
#V-MailMessageView.focused .messageView {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-color: #9d9d9d;
}
.messageView {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  height: 100%;
}
.messageView .toolbar {
  position: absolute;
  top: -58px;
  right: 0;
  left: 0;
  height: 30px;
  padding: 10px 0;
  color: #fff;
}
.messageView .b-content {
  height: 100%;
}
.messageView .b-message {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.messageView .b-message-view-checked-helper {
  text-align: center;
  font-size: 70px;
  line-height: 70px;
  padding-top: 100px;
  color: #999;
}
.messageView .b-message-view-checked-helper .icon-mail {
  font-size: 100px;
  font-size: 50px;
  line-height: 90px;
  padding-left: 10px;
}
.messageView .b-message-view-desc {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  color: #999;
  padding: 120px 10px 0 10px;
}
.messageView .b-message-view-desc.error {
  color: #DA4F49;
}
.messageView .message-fixed-button-toolbar {
  z-index: 100;
  position: absolute;
  top: 33px;
  right: 10px;
}
.messageView .infoParent {
  cursor: pointer;
  opacity: 0.5;
}
.messageView .infoParent:hover {
  opacity: 1;
}
.messageView .flagParent {
  cursor: pointer;
  margin: 0 0.25em;
}
.messageView .flagParent .flagOn {
  color: orange;
}
.messageView .flagParent.flagOff:not(:hover) {
  opacity: 0.5;
}
.messageView .messageItemHeader {
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  flex-shrink: 0;
}
.messageView .messageItemHeader .subjectParent {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}
.messageView .messageItemHeader .subject,
.messageView .messageItemHeader .emptySubjectText {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.messageView .messageItemHeader .messageButtons {
  margin-top: 5px;
}
.messageView .messageItemHeader .informationShort {
  margin: 4px 40px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.messageView .messageItemHeader .informationShort a {
  color: var(--link-color, #369);
  cursor: pointer;
  padding: 2px;
  text-decoration: underline;
}
.messageView .messageItemHeader .informationShort a:focus {
  outline: 1px;
  outline-style: dotted;
}
.messageView .messageItemHeader .informationShortWrp {
  max-height: 100px;
  overflow-y: auto;
}
.messageView .messageItemHeader .informationFull {
  margin-top: 30px;
}
.messageView .messageItemHeader .informationFull table {
  border-spacing: 0;
  width: 100%;
}
.messageView .messageItemHeader .informationFull td {
  padding: 4px;
  vertical-align: top;
  min-width: 43px;
}
.messageView .messageItemHeader .informationFull td:first-child {
  border-right: 1px solid #999;
  text-align: right;
  white-space: nowrap;
  width: 1%;
}
.messageView .messageItemHeader .informationFull td + td {
  word-break: break-all;
}
.messageView .messageItemHeader .emptySubjectText {
  font-style: italic;
  font-weight: normal;
  color: #999;
}
.messageView .messageItemHeader .hasVirus {
  background: #f00;
  color: #fff;
  padding: 3px;
}
.messageView #messageItem {
  color: #000;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}
.messageView #messageItem .buttonFull {
  display: inline-block;
  position: fixed;
  right: 25px;
  bottom: 25px;
  height: 30px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  background-color: transparent;
  background-color: #fff;
  border: 1px solid #333;
  color: #333;
  z-index: 2;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.5;
}
.messageView #messageItem .buttonFull:hover {
  opacity: 0.8;
  border-color: #666;
  background-color: #888;
  color: #fff;
}
.messageView #messageItem .loading {
  text-align: center;
  font-size: 24px;
  color: grey;
  padding: 50px 0;
}
.messageView #messageItem .showImages,
.messageView #messageItem .readReceipt,
.messageView #messageItem .pgpSigned,
.messageView #messageItem .pgpEncrypted {
  cursor: pointer;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
}
.messageView #messageItem .pgpInfo {
  padding: 5px 15px;
  border-bottom: 1px solid #ddd;
  background-color: #fcf8e3;
}
.messageView #messageItem .pgpInfo.success {
  background-color: #e9f4ff;
}
.messageView #messageItem .readReceipt {
  background-color: #ffffd9;
}
.messageView #messageItem .attachmentsPlace {
  padding: 10px 10px 6px 10px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.messageView #messageItem .attachmentsPlace .attachmentList {
  margin: 0;
}
.messageView #messageItem .attachmentsPlace:not(.selection-mode) .checkboxAttachment {
  display: none;
}
.messageView #messageItem .attachmentsPlace.unselectedAttachmentsError .attachmentItem {
  box-shadow: 0 1px 4px red;
  box-shadow: 0 1px 5px rgba(255, 0, 0, 0.4);
  box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.2), 0 1px 5px rgba(255, 0, 0, 0.3);
}
.messageView #messageItem .attachmentsPlace .controls-handle {
  position: absolute;
  bottom: 5px;
  right: 8px;
  color: #999;
  cursor: pointer;
}
.messageView #messageItem .attachmentsControls {
  padding: 7px 5px 7px 14px;
  background: #e8e8e8;
  border-bottom: 1px solid #ddd;
}
.messageView #messageItem .rlBlockquoteSwitcher {
  border: 1px solid #999;
  display: block;
  width: 3em;
  line-height: 1em;
  text-align: center;
  cursor: pointer;
  margin: 2em 0 10px;
  opacity: 0.5;
}
.messageView #messageItem .rlBlockquoteSwitcher:hover {
  opacity: 1;
}
.messageView #messageItem .b-text-part {
  height: 100%;
  /*
			&.openpgp-signed,
			&.openpgp-encrypted {
				border: 1px dashed #FA0;

				&.success {
					border-color: green;
					background-color: rgba(0, 255, 0, 0.03);
				}
				&.error {
					border-color: red;
					background-color: rgba(255, 0, 0, 0.03);
				}
			}
*/
}
.messageView #messageItem .b-text-part div[data-x-div-type=html] {
  height: 100%;
}
.messageView #messageItem .b-text-part div[data-x-div-type=html] div[data-x-div-type=body] {
  height: 100%;
}
.messageView #messageItem .b-text-part a {
  color: blue;
  text-decoration: underline;
}
.messageView #messageItem .b-text-part a:visited {
  color: #609;
}
.messageView #messageItem .b-text-part a:active {
  color: red;
}
.messageView #messageItem .b-text-part blockquote {
  border-left: 2px solid #000;
  padding: 0 10px;
  margin: 0;
}
.messageView #messageItem .b-text-part .rl-bq-switcher.hidden-bq {
  display: none;
}
.messageView #messageItem .b-text-part.html div[data-x-div-type=body] {
  /*padding: 15px;*/
  margin: 15px;
}
.messageView #messageItem .b-text-part.html img {
  max-width: 100%;
}
.messageView #messageItem .b-text-part.html img[data-x-src]:not([src]) {
  border: 1px solid #999;
  position: relative;
}
.messageView #messageItem .b-text-part.html img[data-x-src]:not([src])::after {
  content: "🖼";
  font-family: snappymail;
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  background-color: #fff;
}
.messageView #messageItem .b-text-part.html img[data-x-src]:not([src]):hover::after {
  content: attr(data-x-src);
  font-family: var(--fontSans);
  font-size: 11px;
  height: auto;
  transform: translate(-25%, 0);
  width: auto;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  z-index: 1000;
}
.messageView #messageItem .b-text-part.html pre,
.messageView #messageItem .b-text-part.html code {
  margin: 0;
  border: none;
  word-break: normal;
  word-wrap: break-word;
}
.messageView #messageItem .b-text-part.html code {
  border-radius: 0;
  display: inline;
  padding: 2px 5px;
}
.messageView #messageItem .b-text-part.html pre {
  border-radius: 5px;
  display: block;
  padding: 5px 10px;
}
.messageView #messageItem .b-text-part.html pre > code {
  padding: 0;
}
.messageView #messageItem .b-text-part.plain {
  padding: 15px;
  white-space: pre-wrap;
  font-family: var(--fontMono);
}
.messageView #messageItem .b-text-part.plain pre {
  margin: 0;
  padding: 0;
  border: none;
  display: block;
  word-break: normal;
}
.messageView #messageItem .b-text-part.plain blockquote {
  border-left: 2px solid blue;
  color: blue;
}
.messageView #messageItem .b-text-part.plain blockquote blockquote {
  border-left: 2px solid green;
  color: green;
}
.messageView #messageItem .b-text-part.plain blockquote blockquote blockquote {
  border-left: 2px solid red;
  color: red;
}
.messageView .openpgp-control {
  margin: 0.5em;
  padding: 0.5em;
}
.messageView .openpgp-control span {
  margin-right: 1em;
}
.messageView .openpgp-control button {
  cursor: pointer;
}
.messageView .openpgp-control.encrypted {
  border: 1px dashed #18F;
  color: #18F;
}
.messageView .openpgp-control.signed {
  border: 1px dashed #FA0;
  color: #FA0;
}
.messageView .openpgp-control.success {
  border-color: #090;
  color: #090;
}
.messageView .openpgp-control.error {
  border-color: #F00;
  color: #F00;
}
.messageView .openpgp-control.error button,
.messageView .openpgp-control.success button {
  display: none;
}
.messageView .b-text-part > iframe {
  min-height: 50vh;
}
.messageView .thread-controls .dropdown-toggle {
  padding-left: 10px;
  padding-right: 10px;
}
.messageView .thread-controls.open .dropdown-toggle {
  padding-left: 10px;
  padding-right: 10px;
}
html.rl-no-preview-pane .messageView .toolbar {
  padding-left: 1px;
}
html.rl-no-preview-pane .messageView .b-content {
  top: 50px;
  left: 0;
  bottom: 5px;
  right: 5px;
  border: 1px solid #aaa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
html:not(.rl-mobile):not(.rl-no-preview-pane) .messageView .top-toolbar {
  display: none;
}
html.rl-bottom-preview-pane .messageView .b-content {
  bottom: 5px;
}
html.rl-message-fullscreen #rl-left {
  display: none !important;
}
html.rl-message-fullscreen #rl-right #V-MailMessageList,
html.rl-message-fullscreen #rl-right #V-SettingsPane,
html.rl-message-fullscreen #rl-right #V-SystemDropDown,
html.rl-message-fullscreen #rl-right #V-MailMessageView .messageView .toolbar {
  display: none !important;
}
html.rl-message-fullscreen .messageView .b-content {
  position: fixed !important;
  margin: 5px !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  z-index: 10000 !important;
  border: 1px solid #aaa !important;
}
html:not(.rl-mobile) #messageItem .buttonFull {
  display: none !important;
}
#V-PopupsContacts {
  bottom: 0;
  width: auto;
  min-width: 550px;
  max-width: 900px;
  min-height: 300px;
  max-height: 700px;
}
#V-PopupsContacts .control-group label {
  padding-top: 0;
  width: 50px;
}
#V-PopupsContacts .modal-body {
  height: calc(100vh - 49px);
  padding: 0;
  position: relative;
}
#V-PopupsContacts .b-list-toolbar {
  padding: 0;
  height: 44px;
  text-align: center;
  width: 25%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}
#V-PopupsContacts .b-list-toolbar .e-search {
  margin: 7px 0 0;
  width: calc(100% - 20px);
}
#V-PopupsContacts .b-list-footer-toolbar {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 46px;
  width: 25%;
  background-color: var(--message-list-toolbar-bg-color, #eee);
  box-shadow: inset 0 1px 0 #ccc;
}
#V-PopupsContacts .b-list-footer-toolbar .footer-pager {
  padding: 8px 10px 0 0;
  text-align: right;
}
#V-PopupsContacts .b-list-content {
  position: absolute;
  top: 45px;
  bottom: 46px;
  left: 0;
  width: 25%;
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
#V-PopupsContacts .b-list-content .listClear {
  text-align: center;
  padding: 10px;
  line-height: 13px;
  box-shadow: inset 0 -1px 0 #ccc;
}
#V-PopupsContacts .b-list-content .listEmptyList,
#V-PopupsContacts .b-list-content .listEmptyListLoading,
#V-PopupsContacts .b-list-content .listEmptySearchList {
  color: #999;
  text-align: center;
  padding: 60px 10px;
  font-size: 24px;
  line-height: 30px;
}
#V-PopupsContacts .e-contact-item {
  display: flex;
  height: 55px;
  max-height: 45px;
  line-height: 45px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin: 0;
  border: 0;
  border-left: 6px solid #eee;
  border-bottom: 1px solid rgba(128, 128, 128, 0.25);
}
#V-PopupsContacts .e-contact-item.focused {
  border-left-color: #bbb;
}
#V-PopupsContacts .e-contact-item.deleted {
  max-height: 0;
  border-color: transparent !important;
}
#V-PopupsContacts .e-contact-item .checkboxItem {
  line-height: 45px;
  padding: 0 8px 0 6px;
}
#V-PopupsContacts .e-contact-item .nameParent {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
#V-PopupsContacts .e-contact-item.checked {
  border-left-color: #69A8F5;
}
#V-PopupsContacts .e-contact-item.checked.focused {
  border-left-color: #519af3;
}
#V-PopupsContacts .e-contact-item.selected {
  background-color: rgba(140, 200, 255, 0.3);
  border-left-color: #398CF2;
}
#V-PopupsContacts .e-contact-item.selected.focused {
  border-left-color: #217ef0;
}
#V-PopupsContacts .b-view-content-toolbar {
  padding: 7px;
  position: absolute;
  top: 0;
  right: 0;
  left: 25%;
  height: 30px;
  text-align: right;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}
#V-PopupsContacts .b-view-content-toolbar .button-save-contact.dirty:enabled {
  color: #51a351;
  font-weight: bold;
}
#V-PopupsContacts .b-view-content-toolbar.read-only .button-save-contact {
  display: none;
}
#V-PopupsContacts .b-view-content {
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 25%;
  right: 0;
  overflow: auto;
  border-left: 1px solid rgba(128, 128, 128, 0.25);
}
#V-PopupsContacts .b-view-content span {
  height: 20px;
  line-height: 20px;
  padding: 5px 7px;
  font-size: 18px;
  display: none;
}
#V-PopupsContacts .b-view-content .b-contact-view-desc {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  padding-top: 120px;
  color: #999;
}
#V-PopupsContacts .b-view-content .top-part {
  padding-top: 20px;
}
#V-PopupsContacts .b-view-content .property-line {
  margin-bottom: 5px;
}
#V-PopupsContacts .b-view-content .top-row {
  padding: 10px 0;
  height: 30px;
}
#V-PopupsContacts .b-view-content .add-link {
  margin-left: 2px;
  padding: 5px;
  font-size: 12px;
  color: #aaa;
}
#V-PopupsContacts .b-view-content input,
#V-PopupsContacts .b-view-content textarea {
  box-shadow: none;
  border-color: #fff;
  font-size: 18px;
  width: 70vw;
  max-width: 400px;
}
#V-PopupsContacts .b-view-content input:hover,
#V-PopupsContacts .b-view-content textarea:hover {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-color: #ccc;
}
#V-PopupsContacts .b-view-content input:focus,
#V-PopupsContacts .b-view-content textarea:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-color: #999;
}
#V-PopupsContacts .b-view-content .hasError input {
  color: #ee5f5b;
  border-color: #ee5f5b;
}
#V-PopupsContacts .b-view-content .e-save-trigger {
  position: absolute;
  top: 25px;
  left: 10px;
}
#V-PopupsContacts .b-view-content .e-read-only-sign {
  display: none;
  position: absolute;
  top: 20px;
  right: 40px;
}
#V-PopupsContacts .b-view-content .e-share-sign {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
#V-PopupsContacts .b-view-content.read-only span,
#V-PopupsContacts .b-view-content.read-only .e-read-only-sign {
  display: inline-block;
}
#V-PopupsContacts .b-view-content.read-only input,
#V-PopupsContacts .b-view-content.read-only textarea,
#V-PopupsContacts .b-view-content.read-only .e-share-sign {
  display: none;
}
html:not(rl-mobile) .hideContactListCheckbox .checkboxItem {
  visibility: hidden;
}
.mailvelope-icon {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACjElEQVQ4y2XTXWjVdRgH8M/vf457OUVJzc7U5myWmysrFROKjFyUgqasEsNIrFFetC5KYkXMdVP0chne1MVWUBGWnlAKcogLJmiGXciUkaPtHPYSWumo6XbOv4v/afbyXP14+H6/z8vv+Qb/iNijEdFK4p1Yh1sQ4WccJe4h9Ae54t+ccJW88VpSb+NZdZWVmm+muR4xgwVODzM0dQWfEb0Q7L80KxDbmCH6irDO82uCHZvIVJMfT9Tn11Askevlnd7YdOk4xYeCg5PpBBG9R2gB9bXkjrD/GIXLSYlsBetX0NZK/cLgue41pLrxeIhtuZP4R6uyvPoEVdUcOMKH3/tf3FXDx6/x6de89W1MfH+qS2MnxdVynYyeZzDPM1sYHeH2LJMX2XAHjTfSN8zkOO1P8v6hQLQgjRZLarlhLk/vxTW0b6XjKaoqmJomjslUsrqPjn28tIOVi/lh+O4Ii61dQmEs2WnrUobHad3DR4eoruCxPXz+DQ+sSDAD51jbBDdFYKZ0dc4Hl5EvkJ/itiwjBfKXqath4tfyn8ekEmqEIf3nWJBFKRml/3QCzFzH4VPl/Dy+G0jyyxroOwMTafT6aazJxUlefpjXe7gwnbTa2c0v5ff5C2y+l/saSQdODCGcSnVpzJPaJT0ZtG+j9ySDvyeVfpvhSpwInDzL8vnJZb7yAaN/ILSl3nB2vEtTjRP5eyzKsHs7188wMZaQ5wQWVbFpFQ31bN/L6J+wL8i9W77Emd2kb9XxxSMK48HW9WzbwMhYsrDaeZRKfHkYUYzjlHb+x0ytVRTfxC51ldWaF7K0jjkpzuQZmDXTJxRfDA5e+pdAIrI5Il5OaEMLGsqYsp31EI4FB2bt/Bf/WNuibWZY5gAAAABJRU5ErkJggg==') center / contain no-repeat;
  display: inline-block;
  height: 1em;
  width: 1em;
}
#V-PopupsCompose {
  height: calc(100vh - 52px);
  max-width: 1000px;
  width: 98%;
}
#V-PopupsCompose .modal-body {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#V-PopupsCompose .textAreaParent,
#V-PopupsCompose .attachmentAreaParent {
  box-sizing: border-box;
  height: 100%;
  min-height: 200px;
  position: relative;
}
#V-PopupsCompose .textAreaParent {
  display: flex;
  flex-direction: column;
}
#V-PopupsCompose .attachmentAreaParent {
  border-top: 1px solid #ccc;
  overflow-y: auto;
  padding: 10px;
}
#V-PopupsCompose .attachmentName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#V-PopupsCompose .no-attachments-desc {
  padding-top: 50px;
  text-align: center;
  font-size: 24px;
  color: #666;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#V-PopupsCompose header {
  background-color: rgba(0, 0, 0, 0.8);
}
#V-PopupsCompose header .close,
#V-PopupsCompose header .minimize-custom {
  border-color: #eee;
  float: none;
  font-size: 24px;
  opacity: 1;
  line-height: 28px;
  margin-left: 0.7em;
}
#V-PopupsCompose header .btn.disabled.button-delete {
  visibility: hidden;
}
#V-PopupsCompose header .button-save,
#V-PopupsCompose header .button-delete,
#V-PopupsCompose header .saved-text {
  margin-left: 8px;
}
#V-PopupsCompose header .disabled.button-delete {
  margin-left: 0;
}
#V-PopupsCompose header .pull-right * {
  vertical-align: top;
}
#V-PopupsCompose .b-header {
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.2);
}
#V-PopupsCompose .b-header table {
  border-collapse: collapse;
  width: 100%;
}
#V-PopupsCompose .b-header td {
  vertical-align: baseline;
  padding: 2px 0;
}
#V-PopupsCompose .b-header td:first-child {
  padding: 0 10px 0 0;
  text-align: right;
  white-space: nowrap;
  width: 4em;
}
#V-PopupsCompose .b-header #identity-toggle {
  color: var(--main-color);
  margin-left: 6px;
  text-decoration: none;
}
#V-PopupsCompose .b-header #identity-toggle::after {
  content: '▼';
}
#V-PopupsCompose .b-header textarea,
#V-PopupsCompose .b-header input[type="text"] {
  width: 100%;
}
#V-PopupsCompose .b-header textarea {
  height: 40px;
}
#V-PopupsCompose .b-header .error-desc {
  color: red;
}
#V-PopupsCompose .b-header .error-to {
  color: red;
  font-weight: bold;
}
#V-PopupsCompose .b-attachment-button {
  display: inline-block;
}
#V-PopupsCompose .b-attachment-place {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  border: 2px #777 dashed;
  z-index: 300;
  line-height: 119px;
  text-align: center;
  background-color: #efefef;
  font-size: 24px;
  border-radius: 10px;
}
#V-PopupsCompose .b-attachment-place.dragAndDropOver {
  background-color: #fff;
}
@media screen and (max-width: 999px) {
  #V-PopupsCompose {
    border: 0;
    width: 100%;
  }
}
.minimize-custom {
  border: 0 solid #333;
  border-bottom-width: 3px;
  display: inline-block;
  height: 20px;
  width: 16px;
  cursor: pointer;
}
.emailaddresses {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-sizing: border-box;
  cursor: text;
  font-size: 90%;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.emailaddresses.emailaddresses-focused {
  border: 1px solid #999999;
  box-shadow: none;
}
.emailaddresses li {
  display: inline-block;
}
.emailaddresses li[draggable] {
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset;
  color: #555;
  cursor: default;
  max-width: 500px;
  overflow: hidden;
  margin: 2px;
  padding: 2px 15px 2px 5px;
  position: relative;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}
.emailaddresses li.pgp {
  background-color: #E5F3E2;
}
.emailaddresses li span {
  padding-right: 3px;
}
.emailaddresses li a {
  font-size: 12px;
  color: #999;
  padding: 1px;
  position: absolute;
  right: 2px;
  text-decoration: none;
  top: 1px;
}
.emailaddresses li a:hover {
  color: #666;
}
.emailaddresses .emailaddresses-input {
  margin: 0 2px;
  padding: 0;
}
#rl-app .emailaddresses input[type="text"],
#rl-app .emailaddresses input[type="text"]:focus,
#rl-app .emailaddresses input[type="text"]:hover {
  border: 0;
  box-shadow: none;
  height: auto;
  line-height: inherit;
  margin: 0;
  padding: 4px;
  vertical-align: baseline;
}
.emailaddresses li.emailaddresses-selected,
.emailaddresses li.emailaddresses-selected a {
  background-color: Highlight;
  color: HighlightText;
}
#V-SettingsMenu .b-footer {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  padding: 0 10px 0 5px;
  z-index: 101;
}
#V-SettingsMenu .b-content {
  position: absolute;
  top: 68px;
  bottom: 8px;
  left: 0;
  right: 0;
  overflow: hidden;
}
#V-SettingsMenu nav a {
  background-color: transparent;
  color: var(--settings-menu-color, #333);
  cursor: pointer;
  display: block;
  font-size: 18px;
  height: 30px;
  line-height: 29px;
  overflow: hidden;
  padding: 4px 10px;
  text-decoration: none;
}
#V-SettingsMenu nav a:focus,
#V-SettingsMenu nav a:hover {
  background-color: var(--settings-menu-hover-bg-color, #333);
  color: var(--settings-menu-hover-color, #eee);
}
#V-SettingsMenu nav a.selected {
  background-color: var(--settings-menu-selected-bg-color, #333);
  color: var(--settings-menu-selected-color, #eee);
}
#V-SettingsPane {
  height: 100%;
}
#V-SettingsPane .btn-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 34px;
  padding: 8px 0;
  color: #fff;
}
#V-SettingsPane td {
  padding: 4px 8px;
  line-height: 30px;
}
#rl-settings-subscreen {
  margin: 50px 8px 8px 0;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 20px;
  box-sizing: border-box;
  height: calc(100% - 50px - 8px - 8px);
  background-color: #fff;
  border: 1px solid #aaa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.firefox-drag #rl-settings-subscreen,
.firefox-drag .modal-body {
  overflow: hidden;
}
#V-Settings-General .editMainIdentity {
  border-bottom: 1px dashed #555;
  cursor: pointer;
  display: inline-block;
  padding: 5px 0;
}
#V-Settings-Accounts .account-name {
  display: inline-block;
  word-break: break-all;
}
#V-Settings-Accounts .identity-default {
  cursor: pointer;
  color: #ccc;
}
#V-Settings-Accounts .identity-name {
  display: inline-block;
  word-break: break-all;
  cursor: pointer;
}
#V-Settings-Accounts table {
  margin-top: 1em;
}
#V-Settings-Accounts tr {
  white-space: nowrap;
}
#V-Settings-Accounts td + td + td {
  text-align: right;
}
#V-Settings-Accounts td:first-child,
#V-Settings-Accounts td:last-child {
  width: 1em;
}
#V-Settings-Accounts .delete {
  cursor: pointer;
  opacity: 0.5;
}
#V-Settings-Accounts .identity-default::before {
  content: '(';
}
#V-Settings-Accounts .identity-default::after {
  content: ')';
}
#V-Settings-OpenPgp td * {
  cursor: pointer;
}
#V-Settings-OpenPgp td + td {
  width: 1%;
}
#V-Settings-OpenPgp .key-user {
  margin: 0 0.5em;
  white-space: nowrap;
}
#V-Settings-OpenPgp .delete-key:not(:hover) {
  opacity: 0.7;
}
#V-Settings-OpenPgp iframe {
  max-width: 991px;
}
#V-Settings-Folders .folders-list-error {
  margin: 10px 0;
}
#V-Settings-Folders table {
  margin-top: 1em;
}
#V-Settings-Folders td + td {
  white-space: nowrap;
  width: 1em;
}
#V-Settings-Folders .folder-name {
  word-break: break-all;
  white-space: pre-wrap;
}
#V-Settings-Folders .folder-system-name {
  opacity: 0.6;
}
#V-Settings-Folders .folder-name.can-be-edited:hover {
  text-decoration-style: dashed;
  cursor: pointer;
}
#V-Settings-Folders select {
  width: auto;
}
#V-Settings-Folders tr:not(.selectable) {
  font-style: italic;
}
#V-Settings-Folders tr.system .folder-name {
  font-weight: bold;
}
#V-Settings-Folders tr input {
  border-width: 1px;
  margin-bottom: 0;
}
#V-Settings-Folders tr .unsubscribed-folder,
#V-Settings-Folders tr .unchecked-folder {
  opacity: 0.4;
}
#V-Settings-Folders .deep-1 {
  text-indent: 15px;
}
#V-Settings-Folders .deep-2 {
  text-indent: 30px;
}
#V-Settings-Folders .deep-3 {
  text-indent: 45px;
}
#V-Settings-Folders .deep-4 {
  text-indent: 60px;
}
#V-Settings-Folders .deep-5 {
  text-indent: 75px;
}
#V-Settings-Themes figure {
  display: inline-block;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 8px;
  margin: 5px;
  width: 128px;
}
#V-Settings-Themes figure:hover {
  border-color: grey;
}
#V-Settings-Themes figure.selected {
  background-color: rgba(64, 255, 64, 0.2);
  border-color: #000;
}
#V-Settings-Themes figure figcaption {
  padding: 0 0 8px 0;
  text-align: center;
}
#V-Settings-Themes figure img {
  height: 128px;
}
#V-PopupsSieveScript {
  width: auto;
  max-width: 720px;
}
#V-PopupsSieveScript .filter-item,
#V-Settings-Filters .script-item {
  white-space: nowrap;
}
.filter-item td.drag-wrapper {
  padding: 4px 0;
}
.filter-item .delete-filter {
  cursor: pointer;
  opacity: 0.5;
}
.filter-item .filter-name,
.filter-item .filter-sub-name {
  display: inline-block;
  word-break: break-all;
  line-height: 22px;
  cursor: pointer;
}
.filter-item .filter-sub-name {
  color: #aaa;
}
#V-PopupsSieveScript textarea {
  height: 300px;
  font-family: var(--fontMono);
}
.squire-toolbar {
  border-bottom: 1px solid #b6b6b6;
  min-height: 28px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 2px;
  white-space: nowrap;
}
.squire-toolbar select {
  font-size: 12px;
  padding: 4px 1.5em 4px 6px;
  text-align: left;
  vertical-align: middle;
  width: 7em;
}
.squire-toolbar select[data-action="fontSize"] {
  width: 5em;
}
.squire-toolbar button {
  font-family: snappymail, var(--fontSans);
}
.squire-toolbar button[data-action="bold"] {
  font-weight: bold;
}
.squire-toolbar button[data-action="italic"] {
  font-style: italic;
}
/*
.squire-toolbar button[data-action="underline"] {
	text-decoration: underline;
}
.squire-toolbar button[data-action="strikethrough"] {
	text-decoration: line-through;
}
*/
.squire-wysiwyg,
.squire-plain {
  box-sizing: border-box;
  font-size: 13px;
  height: 100%;
  line-height: 16px;
  min-height: 200px;
  overflow: auto;
  padding: 10px;
}
.squire-wysiwyg {
  font-family: var(--fontSans);
}
.squire-wysiwyg ul {
  padding-left: 40px;
}
.squire-wysiwyg ul li {
  list-style-type: disc !important;
}
.squire-wysiwyg ol {
  padding-left: 40px;
}
.squire-wysiwyg ol li {
  list-style-type: decimal !important;
}
.squire-wysiwyg pre,
.squire-wysiwyg code {
  margin: 0;
  padding: 0;
  background: #fff;
  border: none;
  border-radius: 0;
  font-family: var(--fontMono);
  display: block;
  word-break: normal;
  word-wrap: break-word;
  background-color: #f9f9f9;
}
.squire-wysiwyg code {
  display: inline;
  padding: 2px 5px;
}
.squire-wysiwyg pre {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.squire-wysiwyg pre > code {
  padding: 0;
}
.squire-wysiwyg blockquote {
  border: 0;
  border-left: 2px solid #444;
  margin: 5px 0 5px 5px;
  padding-left: 5px;
}
.squire-wysiwyg blockquote p {
  margin: 0 0 10px;
  line-height: 20px;
}
.squire-wysiwyg img {
  vertical-align: bottom;
}
/* This does make the block element focusable with mouse in Gecko and Webkit so we don't need a <BR>.
However, arrow up/down still not working.
Secondly, we can't rely on MUA's what to do with :empty
.squire-wysiwyg div:empty,
.squire-wysiwyg div:-moz-only-whitespace {
	min-height: 16px;
}
/* This "placeholder" doesn't work good in Gecko
.squire-wysiwyg div:empty::before,
.squire-wysiwyg div:-moz-only-whitespace::before {
	content: "Start writing here…";
	opacity: 0.5;
	user-select: text;
	-moz-user-select: text;
}
*/
.squire-plain {
  border: 0;
  border-radius: 0;
  display: none;
  font-family: var(--fontMono);
  margin: 0;
  resize: none;
  white-space: pre-wrap;
  width: 100%;
}
.squire-mode-wysiwyg .squire-plain,
.squire-mode-plain .squire-wysiwyg,
.squire-mode-plain .btn-group:not(#squire-toolgroup-mode) {
  display: none;
}
.squire-mode-plain .squire-plain {
  display: block;
}
/* @media (hover: none) */
@media screen and (max-height: 600px) {
  .rl-mobile .textAreaParent:not(:focus-within) .squire-toolbar {
    display: none;
  }
  .rl-mobile .squire-toolbar {
    background: #EEE;
    padding: 1px;
    position: fixed;
    top: 18px;
    left: 0;
    right: 0;
    /*
		transform: translateY(-42px);
		z-index: 9;
	*/
  }
}
.rl-mobile #V-PopupsCompose {
  min-height: calc(100% - 12px);
}
#V-PopupsCompose[data-wysiwyg*=Forced] #squire-toolgroup-mode {
  display: none;
}
@keyframes highlight-folder-row {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  }
}
@media screen and (min-width: 1000px) {
  .b-folders li .anim-action-class {
    animation: highlight-folder-row 0.5s linear;
  }
  .b-folders .btn.buttonContacts {
    transition: margin 0.3s linear;
  }
  #rl-left .b-content {
    transition: opacity 0.3s linear;
  }
  .b-list-content .e-contact-item {
    transition: max-height 400ms ease;
  }
  #V-PopupsCompose header.loading {
    background-size: 60px 60px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    animation: animate-stripes 2s linear infinite;
  }
}
[data-rainloopErrorTip] {
  position: relative;
}
[data-rainloopErrorTip]::before {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #999;
  color: red;
  content: attr(data-rainloopErrorTip);
  font-size: 13px;
  left: 100%;
  opacity: 1;
  padding: 0.25em;
  position: absolute;
  text-align: left;
  top: 100%;
  transition: opacity 0.2s ease-in-out;
  white-space: nowrap;
  z-index: 2001;
}
@media only screen and (max-width: 600px) {
  [data-rainloopErrorTip]::before {
    min-width: 60vw;
    white-space: normal;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: color 9999s ease-out, background-color 9999s ease-out;
}
/*
@media (pointer: coarse), (hover: none) {
	[title] {
		position: relative;
		display: inline-flex;
		justify-content: center;
	}
	[title]:focus::after {
		content: attr(title);
		position: absolute;
		top: 90%;
		color: #000;
		background-color: #fff;
		border: 1px solid;
		width: fit-content;
		padding: 3px;
	}
}
*/
