<header>
	<a href="#" class="close" data-bind="command: cancelCommand">×</a>
	<h3 data-i18n="POPUPS_CREATE_FOLDER/TITLE_CREATE_FOLDER"></h3>
</header>
<div class="modal-body">
	<div class="form-horizontal">
		<div class="control-group">
			<label data-i18n="POPUPS_CREATE_FOLDER/LABEL_PARENT"></label>
			<select data-bind="options: parentFolderSelectList, value: selectedParentValue,
				optionsText: 'name', optionsValue: 'id', optionsAfterRender: defaultOptionsAfterRender"></select>
		</div>
		<div class="control-group">
			<label data-i18n="GLOBAL/NAME"></label>
			<input type="text"
				autofocus="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
				data-bind="textInput: folderName, onEnter: createFolderCommand">
		</div>
		<div class="control-group" data-bind="component: {
			name: 'Checkbox',
			params: {
				label: 'SETTINGS_FOLDERS/BUTTON_SUBSCRIBE',
				value: folderSubscribe
			}
		}"></div>
	</div>
</div>
<footer>
	<a class="btn buttonCreate" data-bind="command: createFolderCommand">
		<i class="icon-folder-add"></i>
		<span data-i18n="POPUPS_CREATE_FOLDER/BUTTON_CREATE"></span>
	</a>
</footer>
