<tr data-bind="css: { 'selectable': selectable, 'system': isSystemFolder }">
	<td data-bind="css: 'deep-' + deep">
		<span class="folder-name" data-bind="text: name, visible: !edited(), css: { 'can-be-edited': canBeEdited },
			click: function (oFolder) { oFolder.canBeEdited() && $root.folderForEdit(oFolder); },
			tooltipErrorTip: errorMsg"></span>
		<input type="text"
			autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
			data-bind="value: nameForEdit, visible: edited, hasfocus: edited, onEnter: function () { $root.folderEditOnEnter($data); }, onEsc: function () { $root.folderEditOnEsc($data); }">
		&nbsp;
		<span class="folder-system-name" data-bind="text: manageFolderSystemName, visible: isSystemFolder"></span>
	</td>
	<td data-i18n="[title]SETTINGS_FOLDERS/HELP_DELETE_FOLDER">
		<a class="btn btn-small btn-danger button-confirm-delete" data-bind="css: {'delete-access': askDelete()}, click: $root.deleteFolder"
			data-i18n="GLOBAL/ARE_YOU_SURE"></a>
		<span class="e-action fontastic" data-bind="visible: canBeDeleted() && !askDelete(), click: $root.folderForDeletion">🗑</span>
	</td>
	<td data-i18n="[title]SETTINGS_FOLDERS/HELP_SHOW_HIDE_FOLDER">
		<span class="e-action fontastic" data-bind="css: {'unsubscribed-folder':!subscribed()}, visible: canBeSubscribed(), click: $root.toggleFolderSubscription">👁</span>
	</td>
	<!-- ko if: $root.displaySpecSetting -->
	<td data-i18n="[title]SETTINGS_FOLDERS/HELP_CHECK_FOR_NEW_MESSAGES">
		<span class="e-action" data-bind="css: {'check-folder':checkable(), 'unchecked-folder':!checkable()}, visible: canBeSelected() && subscribed(), click: $root.toggleFolderCheckable">
			<i class="icon-check-mark-circle-two"></i>
		</span>
	</td>
	<!-- /ko -->
	<!-- ko if: $root.showKolab -->
	<td class="kolab" title="Kolab">
		<select data-bind="options: $root.kolabTypeOptions, value: kolabType,
			optionsText: 'name', optionsValue: 'id', optionsAfterRender: $root.defaultOptionsAfterRender,
			event:{ input: $root.toggleFolderKolabType}"></select>
	</td>
	<!-- /ko -->
</tr>
<!-- ko template: { name: 'SettingsFolderItem', foreach: subFolders } --><!-- /ko -->
