<header>
	<a href="#" class="close" data-bind="command: closeCommand">×</a>
	<h3 data-i18n="POPUPS_LANGUAGES/TITLE_LANGUAGES"></h3>
</header>
<div class="modal-body" style="min-height: 150px;" data-bind="foreach: languages">
	<label data-bind="click: function () { $root.changeLanguage(key); }, css: {'selected': selected, 'user': user},
		attr: { title: $root.languageTooltipName(key) },
		text: fullName">
	</label>
</div>
