<!DOCTYPE html>
<html class="rl-started-trigger">

<head>
	<noscript>
		<meta http-equiv="refresh" content="0; URL=./?/NoScript">
	</noscript>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="google" content="notranslate">
	<meta name="robots" content="noindex,nofollow,noodp">
	<title></title>
	<style id="app-boot-css">{{BaseAppBootCss}}</style>
	<link type="text/css" rel="stylesheet" data-href="{{BaseAppMainCssLink}}" id="rl-css" rel="preload">
	<link rel="manifest" href="{{BaseAppManifestLink}}">
	<style id="app-theme-style" data-href="{{BaseAppThemeCssLink}}">{{BaseAppThemeCss}}</style>
	{{BaseAppFaviconPngLinkTag}}
	{{BaseAppFaviconTouchLinkTag}}
</head>

<body id="rl-app" data-admin='{{BaseAppAdmin}}'>
	<div id="rl-loading">
		<div id="rl-loading-desc">{{LoadingDescriptionEsc}}</div>
		<i class="icon-spinner"></i>
	</div>
	<div id="rl-loading-error" hidden="">An error occurred.<br>Please refresh the page and try again.</div>
	<div id="rl-content" hidden="">
		<div id="rl-left"></div>
		<div id="rl-right"></div>
	</div>
	<div id="rl-popups"></div>
	{{BaseTemplates}}
	<script nonce="" type="text/javascript">{{BaseAppBootScript}}{{BaseLanguage}}</script>
</body>

</html>
